$color-light-base: #F5F8FA;

.feature-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.feature-icon {
  width: 40px !important;
  max-width: 40px !important;
  height: auto;
  outline: none;
  transition: all .5s ease-in-out;
}