<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Token Intro -->
<section class="dark:bg-jacarta-800 relative py-24">
    <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
        <img src="/assets/img/gradient_light.jpg" alt="gradient" class="h-full w-full" />
    </picture>
    <div class="container">
        <div class="lg:flex lg:items-center lg:justify-between">
            <!-- Info -->
            <div *ngIf="isLoaded || !isTokenSaleActive || !isConnectedToWallet" class="pb-10 lg:w-[45%] lg:py-20 lg:pr-16">
                <h2 class="text-jacarta-700 font-display mb-6 text-2xl dark:text-white">
                    Welcome to OSEA Hub!
                </h2>
                <p class="dark:text-jacarta-300 mb-10 text-lg leading-normal">
                    Omnichain NFTs meet Omnichain fungible asset. Learn more about OSEA use cases.
                </p>

                <div *ngIf="isTokenSaleActive && isLoaded && isAllocated" class="dynamic-status-badge mb-6"><span class="text-accent">{{isEnded ? 'Claim ' : ''}}{{allocatedFormatted}} </span><span class="text-accent"> OSEA</span></div>

                <div *ngIf="isTokenSaleActive && isLoaded && isConnectedToWallet">
                    <form class="relative">
                        <button *ngIf="isAllocated" (click)="onWithdraw()"
                                class="hover:bg-accent-dark font-display bg-accent absolute top-2 left-0 rounded-full px-6 py-2 text-sm text-white">
                            Claim OSEA
                        </button>
                    </form>

                    <form class="relative">
                        <button (click)="goToTokenBridge()"
                                class="hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                            Bridge OSEA
                        </button>
                    </form>
                </div>

                <div *ngIf="!isConnectedToWallet">
                    <form class="relative">
                        <button (click)="connectWallet()"
                                class="font-display bg-accent hover:bg-white border-accent text-white mb-4 flex w-full items-center justify-center rounded-full border-2 py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-accent w-1/3">
                            Connect
                        </button>
                    </form>
                </div>

                <div *ngIf="isConnectedToWallet && !isClaimingAirdrop" class="mt-16">
                    <p *ngIf="connectedChain !== 'BSC'" class="text-accent font-bold font-display text-sm">
                        Switch network to BNB Chain (BSC) to check the airdrop status.
                    </p>

                    <form *ngIf="connectedChain === 'BSC'" class="relative">
                        <button *ngIf="isAirdropClaimable" (click)="claimAirdrop()"
                                class="hover:bg-accent-dark font-display bg-accent absolute top-2 left-0 rounded-full px-6 py-2 text-sm text-white">
                            Claim Airdrop
                        </button>

                        <button *ngIf="isAirdropClaimable === false"
                                disabled
                                class="hover:bg-accent-dark font-display bg-jacarta-300 absolute top-2 left-0 rounded-full px-6 py-2 text-sm text-white cursor-default">
                            Nothing to claim
                        </button>

                        <button *ngIf="isAirdropClaimable === undefined"
                                disabled
                                class="hover:bg-accent-dark font-display bg-jacarta-300 absolute top-2 left-0 rounded-full px-6 py-2 text-sm text-white cursor-default">
                            Checking...
                        </button>
                    </form>
                </div>
            </div>

            <div *ngIf="isConnectedToWallet && !isLoaded && isTokenSaleActive" class="pb-10 lg:w-[45%] lg:py-20 lg:pr-16">
                <ngx-skeleton-loader
                        count="1"
                        [theme]="{
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                        count="2"
                        [theme]="{
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
                ></ngx-skeleton-loader>

                <div>
                    <ngx-skeleton-loader
                            count="1"
                            [theme]="{
                            'width': '180px',
                            'height': '56px',
                            'border-radius': '12px',
                            border: '1px solid white'
                        }"
                    ></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader
                            count="1"
                            [theme]="{
                            'width': '112px',
                            'height': '32px',
                            'border-radius': '4px',
                            border: '1px solid white'
                        }"
                    ></ngx-skeleton-loader>
                </div>
            </div>

            <!-- Image -->
            <div class="lg:w-[55%]">
                <div class="relative">
                    <img loading="lazy" src="/assets/img/token/transparent.svg" class="animate-fly" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Token Intro -->

<!-- About Token -->
<section class="relative py-24">
    <div class="container">
        <div class="mx-auto mb-20 max-w-xl text-center">
            <h2 class="font-display text-jacarta-700 mb-6 text-center text-3xl font-medium dark:text-white">
                How OSEA Is Used
            </h2>
            <p class="dark:text-jacarta-300">
                The future is Omnichain. At Omnisea we always focus on this approach. Enabling not only Omnichain NFTs but also Omni Fungible Token.
            </p>
        </div>

        <div class="grid gap-7 md:grid-cols-3 mt-16">
            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <img class="feature-icon" src="/assets/icons/verified.png">
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Omnichain by LayerZero</h3>
                <p class="dark:text-jacarta-300">
                    The core of our project - NFTs - is built using LayerZero. So is OSEA Token. This unlocks all Omnichain possibilities.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <img class="feature-icon" src="/assets/icons/settings.png">
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Native Everywhere</h3>
                <p class="dark:text-jacarta-300">
                    OSEA is a native, not wrapped, asset on every supported chain with a connected max supply.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <img class="feature-icon" src="/assets/icons/connect.png">
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Omnichain Currency</h3>
                <p class="dark:text-jacarta-300">
                    OSEA enables fast, native value transfer between chains. Supports contracts approvals for advanced Omnichain flows.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <img class="feature-icon" src="/assets/icons/square.png">
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Omnisea Payments</h3>
                <p class="dark:text-jacarta-300">
                    We're creating OSEA from a need. Need for a unified asset for Omnichain payments.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <img class="feature-icon" src="/assets/icons/chains.png">
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Sharing Revenue</h3>
                <p class="dark:text-jacarta-300">
                    We want to share our protocol's revenue with the Community. Lock your OSEA to have a share in Omnisea's revenue.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <img class="feature-icon" src="/assets/icons/storage.png">
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Omnichain Router</h3>
                <p class="dark:text-jacarta-300">
                    Protocol's logic bound to Governance decisions. Learn more about Omnichain Router at <a
                        href="https://omnisea.org/help-center/topic?category=developers&topic=Omnichain%20Router" target="_blank" class="hover:text-accent">Help Center</a> and in our <a class="hover:text-accent" href="https://bafybeih56o2owd2elwipokmjofddw4gu6psocdrftfyd7ykbi5r6trfw7q.ipfs.infura-ipfs.io/" target="_blank">Whitepaper</a>.
                </p>
            </div>
        </div>

        <div class="w-full flex justify-center mt-16">
            <button (click)="goToHelpCenter()" class="hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                Learn more
            </button>

            <button (click)="goToWhitepaper()" class="hover:bg-accent font-display bg-gradient-accent-light-radial text-accent rounded-full px-6 py-2 ml-8 text-sm">
                Whitepaper
            </button>
        </div>
    </div>
</section>
<!-- End About Token -->

<div *ngIf="isTokenSaleActive" class="modal fade" id="buyTokensModal" tabindex="-1" aria-labelledby="buyTokensLabel" aria-hidden="true">
    <div class="modal-dialog max-w-2xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyTokensLabel">Buy OSEA</h5>
                <button #closeBtn type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            class="fill-jacarta-700 h-6 w-6 dark:fill-white">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
                    </svg>
                </button>
            </div>

            <!-- Body -->
            <div [formGroup]="tokenSaleForm" class="modal-body p-6 relative">
                <ngx-ui-loader loaderId="tokenBuyLoader"
                               bgsPosition="top-center"
                ></ngx-ui-loader>

                <p *ngIf="isBuying" [ngClass]="{'text-red': state?.status === 'approval_error' || state?.status === 'deposit_error'}" class="pt-28 text-xl text-jacarta-700 text-center">{{stateInfoTitle}}</p>
                <p *ngIf="isBuying" class="text-jacarta-400 mt-3 text-center">{{stateInfoSubtitle}}</p>

                <div *ngIf="!isBuying" class="mb-2 flex items-center justify-between">
                    <span class="font-display text-jacarta-700 text-sm font-semibold dark:text-white">Balance</span>
                </div>

                <div *ngIf="!isBuying" class="dark:border-jacarta-600 border-jacarta-100 relative mb-2 flex items-center overflow-hidden rounded-lg border">
                    <div class="border-jacarta-100 bg-jacarta-50 flex flex-1 items-center self-stretch border-r px-2">
                        <span class="flex justify-center items-center">
                          <svg data-name="86977684-12db-4850-8f30-233a7c267d11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" class="h-4 w-4 mr-1">
                              <path d="M1000 2000c554.17 0 1000-445.83 1000-1000S1554.17 0 1000 0 0 445.83 0 1000s445.83 1000 1000 1000z" fill="#2775ca"/>
                              <path d="M1275 1158.33c0-145.83-87.5-195.83-262.5-216.66-125-16.67-150-50-150-108.34s41.67-95.83 125-95.83c75 0 116.67 25 137.5 87.5 4.17 12.5 16.67 20.83 29.17 20.83h66.66c16.67 0 29.17-12.5 29.17-29.16v-4.17c-16.67-91.67-91.67-162.5-187.5-170.83v-100c0-16.67-12.5-29.17-33.33-33.34h-62.5c-16.67 0-29.17 12.5-33.34 33.34v95.83c-125 16.67-204.16 100-204.16 204.17 0 137.5 83.33 191.66 258.33 212.5 116.67 20.83 154.17 45.83 154.17 112.5s-58.34 112.5-137.5 112.5c-108.34 0-145.84-45.84-158.34-108.34-4.16-16.66-16.66-25-29.16-25h-70.84c-16.66 0-29.16 12.5-29.16 29.17v4.17c16.66 104.16 83.33 179.16 220.83 200v100c0 16.66 12.5 29.16 33.33 33.33h62.5c16.67 0 29.17-12.5 33.34-33.33v-100c125-20.84 208.33-108.34 208.33-220.84z" fill="#fff"/>
                              <path d="M787.5 1595.83c-325-116.66-491.67-479.16-370.83-800 62.5-175 200-308.33 370.83-370.83 16.67-8.33 25-20.83 25-41.67V325c0-16.67-8.33-29.17-25-33.33-4.17 0-12.5 0-16.67 4.16-395.83 125-612.5 545.84-487.5 941.67 75 233.33 254.17 412.5 487.5 487.5 16.67 8.33 33.34 0 37.5-16.67 4.17-4.16 4.17-8.33 4.17-16.66v-58.34c0-12.5-12.5-29.16-25-37.5zM1229.17 295.83c-16.67-8.33-33.34 0-37.5 16.67-4.17 4.17-4.17 8.33-4.17 16.67v58.33c0 16.67 12.5 33.33 25 41.67 325 116.66 491.67 479.16 370.83 800-62.5 175-200 308.33-370.83 370.83-16.67 8.33-25 20.83-25 41.67V1700c0 16.67 8.33 29.17 25 33.33 4.17 0 12.5 0 16.67-4.16 395.83-125 612.5-545.84 487.5-941.67-75-237.5-258.34-416.67-487.5-491.67z" fill="#fff"/>
                          </svg>
                        </span>
                        <span *ngIf="connectedChain" class="font-display text-jacarta-700 text-sm">{{usdcBalanceFormatted !== undefined ? (usdcBalanceFormatted | number : '1.2-2') : ''}} USDC</span>
                    </div>

                    <input
                            required
                            type="number"
                            formControlName="amount"
                            class="focus:ring-accent h-12 w-full flex-[3] border-0 focus:ring-inset"
                            placeholder="Deposit amount"/>

                    <div class="bg-jacarta-50 border-jacarta-100 flex flex-1 justify-end self-stretch border-l">
                        <span class="self-center px-2 text-sm">{{estimatedAllocation || 0}} OSEA</span>
                    </div>
                </div>

                <!-- Terms -->
                <div *ngIf="!isBuying" class="mt-4 flex items-center space-x-2">
                    <input
                            formControlName="terms"
                            type="checkbox"
                            id="terms"
                            class="checked:bg-accent dark:bg-jacarta-600 text-accent border-jacarta-200 focus:ring-accent/20 dark:border-jacarta-500 h-5 w-5 self-start rounded focus:ring-offset-0"
                    />
                    <label for="terms" class="dark:text-jacarta-200 text-sm">
                        I confirm that I am of legal age and that this sale complies with the jurisdiction of my country.
                    </label>
                </div>
            </div>
            <!-- end body -->

            <div class="modal-footer">
                <div class="flex items-center justify-center space-x-4">
                    <button
                            [disabled]="tokenSaleForm.invalid || isBuying"
                            (click)="onDeposit()"
                            [ngClass]="{'bg-jacarta-300': tokenSaleForm.invalid || isBuying, 'cursor-default': tokenSaleForm.invalid || isBuying}"
                            type="button"
                            class="bg-accent shadow-accent-volume hover:bg-accent-dark rounded-full py-3 px-8 text-center font-semibold text-white transition-all">
                        Buy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
