<footer class="relative dark:bg-jacarta-900 page-footer bg-gradient-noise">
    <div class="absolute top-0 left-0 right-0 w-full">
        <svg class="w-full" width="3000px">
            <path xmlns="http://www.w3.org/2000/svg" d="M0 33L25 35.2C50 37.3 100 41.7 150 43.3C200 45 250 44 300 44.7C350 45.3 400 47.7 450 46.7C500 45.7 550 41.3 600 40C650 38.7 700 40.3 750 44.5C800 48.7 850 55.3 900 54.3C950 53.3 1000 44.7 1050 44.7C1100 44.7 1150 53.3 1200 53C1250 52.7 1300 43.3 1350 44.7C1400 46 1450 58 1500 64.5C1550 71 1600 72 1650 71.3C1700 70.7 1750 68.3 1800 63.5C1850 58.7 1900 51.3 1950 51.5C2000 51.7 2050 59.3 2100 58.5C2150 57.7 2200 48.3 2250 47.3C2300 46.3 2350 53.7 2400 51.7C2450 49.7 2500 38.3 2550 41.2C2600 44 2650 61 2700 61.8C2750 62.7 2800 47.3 2850 44.7C2900 42 2950 52 2975 57L3000 62L3000 0L2975 0C2950 0 2900 0 2850 0C2800 0 2750 0 2700 0C2650 0 2600 0 2550 0C2500 0 2450 0 2400 0C2350 0 2300 0 2250 0C2200 0 2150 0 2100 0C2050 0 2000 0 1950 0C1900 0 1850 0 1800 0C1750 0 1700 0 1650 0C1600 0 1550 0 1500 0C1450 0 1400 0 1350 0C1300 0 1250 0 1200 0C1150 0 1100 0 1050 0C1000 0 950 0 900 0C850 0 800 0 750 0C700 0 650 0 600 0C550 0 500 0 450 0C400 0 350 0 300 0C250 0 200 0 150 0C100 0 50 0 25 0L0 0Z" fill="#fbfcfe" stroke-linecap="round" stroke-linejoin="miter"/>
        </svg>
    </div>

    <div class="container">
        <div class="grid grid-cols-6 gap-x-7 gap-y-14 pt-24 pb-12 md:grid-cols-12">
            <div class="col-span-3 md:col-span-4">
                <!-- Logo -->
                <a (click)="goToHome()" class="mb-6 inline-block">
                    <img src="/assets/img/logo.svg" class="h-[3.5rem] dark:hidden"/>
                </a>
                <p class="dark:text-jacarta-300 text-almost-white">
                    Launch Omnichain collections. Mint between chains.
                </p>
                <div class="mt-2 mb-12 flex items-center">
                    <a href="https://layerzero.network/" target="_blank">
                        <img src="/assets/img/brands/layer-zero-logo.svg" class="mr-8 h-6">
                    </a>

                    <a href="https://axelar.network" target="_blank">
                        <img src="/assets/img/brands/axelar_full.webp" class="h-4">
                    </a>
                </div>
                <!-- Socials -->
                <div class="flex space-x-5">
                    <a href="https://twitter.com/omnisea" target="_blank" class="group flex items-center">
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="twitter"
                                class="group-hover:fill-accent fill-jacarta-300 h-5 w-5 dark:group-hover:fill-white"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                        >
                            <path
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                            ></path>
                        </svg>
                    </a>

                    <a href="https://medium.com/@omnisea" target="_blank" class="group flex items-center">
                        <img src="/assets/img/socials/medium-monogram.svg" alt="Medium" class="group-hover:fill-accent fill-jacarta-300 h-7 w-7 dark:group-hover:fill-white">
                    </a>

                    <a href="https://discord.gg/omnisea" target="_blank" class="group flex items-center">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="discord" class="group-hover:fill-accent fill-jacarta-300 h-5 w-5 dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"></path>
                        </svg>
                    </a>

                    <a href="https://www.coingecko.com/en/coins/omnisea" target="_blank" class="group flex items-center">
                        <img src="/assets/img/brands/coingecko-icon.svg" alt="Coingecko" class="group-hover:fill-accent fill-jacarta-300 h-6 w-6 dark:group-hover:fill-white">
                    </a>
                </div>
            </div>

            <div class="col-span-full sm:col-span-3 md:col-span-2 md:col-start-9">
                <h3 class="font-display text-white mb-6 text-sm dark:text-white">Community</h3>
                <ul class="dark:text-jacarta-300 flex flex-col space-y-1">
                    <li>
                        <a href="https://twitter.com/omnisea" target="_blank">
                            Twitter
                        </a>
                    </li>

                    <li>
                        <a href="https://discord.gg/omnisea" target="_blank">
                            Discord
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/omnisea.nft" target="_blank">
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-span-full sm:col-span-3 md:col-span-2 md:col-start-12">
                <h3 class="font-display text-white mb-6 text-sm dark:text-white">Resources</h3>
                <ul class="dark:text-jacarta-300 flex flex-col space-y-1">
                    <li>
                        <a (click)="goToHelpCenter()"
                           class="hover:text-accent dark:hover:text-white">
                            Help Center
                        </a>
                    </li>
                    <li>
                        <a (click)="goToDocumentation()"
                           class="hover:text-accent dark:hover:text-white">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a (click)="goToToken()"
                           class="hover:text-accent dark:hover:text-white">
                            Token
                        </a>
                    </li>
                    <li>
                        <a (click)="goToTokenBridge()"
                           class="hover:text-accent dark:hover:text-white">
                            OSEA Bridge
                        </a>
                    </li>
                    <li>
                        <a (click)="goToONFTGateway()"
                           class="hover:text-accent dark:hover:text-white">
                            NFT Gateway
                        </a>
                    </li>
                    <li>
                        <a href="https://bafybeih56o2owd2elwipokmjofddw4gu6psocdrftfyd7ykbi5r6trfw7q.ipfs.infura-ipfs.io"
                           target="_blank"
                           class="hover:text-accent dark:hover:text-white">
                            Whitepaper
                        </a>
                    </li>
                    <li>
                        <a (click)="goToFaucet()"
                           class="hover:text-accent dark:hover:text-white">
                            Faucet
                        </a>
                    </li>
                    <li>
                        <a href="https://medium.com/@omnisea" target="_blank" class="hover:text-accent dark:hover:text-white">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col items-center justify-between space-y-2 py-8 sm:flex-row sm:space-y-0">
          <span class="dark:text-jacarta-400 text-sm hover:text-accent">
              &copy; 2022 Omnisea
          </span>
        </div>
    </div>
</footer>
