<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Token Intro -->
<section class="dark:bg-jacarta-800 relative py-24">
    <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
        <img src="/assets/img/gradient_light.jpg" alt="gradient" class="h-full w-full" />
    </picture>
    <div class="container">
        <!-- Info -->
        <div class="pb-10 text-center w-full flex flex-col items-center justify-center">
            <h2 class="text-jacarta-700 font-display mb-6 text-5xl dark:text-white">
                Regional Ambassadors Program
            </h2>
            <button (click)="scrollToForm()" class="hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                Apply
            </button>
        </div>
    </div>
</section>
<!-- End Token Intro -->

<!-- About Token -->
<section class="relative py-24">
    <div class="container">
        <div class="mx-auto mb-20 max-w-xl text-center">
            <h2 class="font-display text-jacarta-700 mb-6 text-center text-3xl font-medium dark:text-white">
                Learn More
            </h2>
            <p class="dark:text-jacarta-300">
                We want to grow fast and be connected with our Community.
            </p>
        </div>

        <div class="grid gap-7 md:grid-cols-3 mt-16">
            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-accent h-12 w-12">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7L12 17zm0-2.344l2.817 1.72-.766-3.21 2.507-2.147-3.29-.264L12 7.708l-1.268 3.047-3.29.264 2.507 2.147-.766 3.21L12 14.657z"></path>
                    </svg>
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Become our Ambassador</h3>
                <p class="dark:text-jacarta-300">
                    Our international Community requires guidance. Get involved by helping others!
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-accent h-12 w-12">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M17 16h2V4H9v2h8v10zm0 2v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3zM7 16v2h2v1h2v-1h.5a2.5 2.5 0 1 0 0-5h-3a.5.5 0 1 1 0-1H13v-2h-2V9H9v1h-.5a2.5 2.5 0 1 0 0 5h3a.5.5 0 1 1 0 1H7z"></path>
                    </svg>
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Earn Rewards</h3>
                <p class="dark:text-jacarta-300">
                    Your time and effort will be rewarded with our upcoming OSEA Token.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-accent h-12 w-12">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M13 9h8L11 24v-9H4l9-15v9zm-2 2V7.22L7.532 13H13v4.394L17.263 11H11z"></path>
                    </svg>
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Good Vibes 😊</h3>
                <p class="dark:text-jacarta-300">
                    If you're interested, read more below, and apply. Don't be shy, we care about a good atmosphere!
                </p>
            </div>
        </div>

        <div class="mt-16">
            <h2 class="font-display text-jacarta-700 mb-6 text-center text-xl font-medium dark:text-white">
                Get more answers
            </h2>
            <p class="dark:text-jacarta-300 mx-auto mb-10 max-w-md text-center text-lg">
                If you haven't find an answer to your question contact us on our
                <a href="https://discord.gg/omnisea" target="_blank" class="text-accent">Discord</a>
            </p>

            <div class="accordion mx-auto max-w-[35rem]" id="accordionFAQ">
                <div class="accordion-item dark:border-jacarta-600 border-jacarta-100 mb-5 overflow-hidden rounded-lg border">
                    <h2 class="accordion-header" id="faq-heading-1">
                        <button class="accordion-button dark:bg-jacarta-700 font-display text-jacarta-700 collapsed relative flex w-full items-center justify-between bg-white px-4 py-3 text-left dark:text-white" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-expanded="false" aria-controls="faq-1">
                            <span>What are the requirements?</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="accordion-arrow fill-jacarta-700 h-4 w-4 shrink-0 transition-transform dark:fill-white">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                            </svg>
                        </button>
                    </h2>
                    <div id="faq-1" class="accordion-collapse collapse" aria-labelledby="faq-heading-1" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 border-t bg-white p-4">
                            <p class="dark:text-jacarta-200">
                                If you want to become our Ambassador, the following skills would be much appreciated:
                            </p>

                            <ul class="mt-4">
                                <li class="mt-4">
                                    1) The initiative to represent your Region of the Omnisea's Community.
                                </li>
                                <li class="mt-4">2) Looking forward to getting more involved with Omnisea and helping the project grow.</li>
                                <li class="mt-4">3) Passion for NFTs and basic understanding of LayerZero or Omnisea capabilities.</li>
                                <li class="mt-4">4) Have innovative ideas that can impact the growth of Omnisea.</li>
                                <li class="mt-4">
                                    5) Ability to create quality content such as articles, videos, documents, or being able to influence the crypto community with your content in another way.
                                </li>
                                <li class="mt-4">
                                    6) The intention to spread awareness about Omnisea - the Testnet, upcoming Public Sale with the OSEA Omnichain Token, as well as our platform in general - features, statistics, advantages, etc.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item dark:border-jacarta-600 border-jacarta-100 mb-5 overflow-hidden rounded-lg border">
                    <h2 class="accordion-header" id="faq-heading-2">
                        <button class="accordion-button dark:bg-jacarta-700 font-display text-jacarta-700 collapsed relative flex w-full items-center justify-between bg-white px-4 py-3 text-left dark:text-white" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
                            <span>What will be my responsibilities?</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="accordion-arrow fill-jacarta-700 h-4 w-4 shrink-0 transition-transform dark:fill-white">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                            </svg>
                        </button>
                    </h2>
                    <div id="faq-2" class="accordion-collapse collapse" aria-labelledby="faq-heading-2" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 border-t bg-white p-4">
                            <p class="dark:text-jacarta-200 mb-4">
                                Firstly, as the Regional Ambassador, your task will be to guide and assist our Community Members from your region.
                            </p>
                            <p class="dark:text-jacarta-200">
                                The second much-appreciated activity that will help us to grow even faster is to spread awareness about Omnisea on the Social Media of your choice - Twitter, YouTube, Discord, Telegram, Medium, etc. We want to be more and more recognized across the crypto communities.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item dark:border-jacarta-600 border-jacarta-100 mb-5 overflow-hidden rounded-lg border">
                    <h2 class="accordion-header" id="faq-heading-3">
                        <button class="accordion-button dark:bg-jacarta-700 font-display text-jacarta-700 collapsed relative flex w-full items-center justify-between bg-white px-4 py-3 text-left dark:text-white" type="button" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
                            <span>Do I have to be a content creator or influencer to apply?</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="accordion-arrow fill-jacarta-700 h-4 w-4 shrink-0 transition-transform dark:fill-white">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                            </svg>
                        </button>
                    </h2>
                    <div id="faq-3" class="accordion-collapse collapse" aria-labelledby="faq-heading-3" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 border-t bg-white p-4">
                            <p class="dark:text-jacarta-200">
                                No. It's not necessary but having the connections, ability to create quality, informative content or network effect can highly help us reach our strategic goals and thus we value them.
                            </p>
                            <p class="mt-4 dark:text-jacarta-200">
                                Still, if you think you're able to guide our Community from your region and educate about Omnisea, advantages coming from LayerZero technology, or our Testnet, especially how to participate in it, you're more than welcome to apply.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item dark:border-jacarta-600 border-jacarta-100 mb-5 overflow-hidden rounded-lg border">
                    <h2 class="accordion-header" id="faq-heading-4">
                        <button class="accordion-button dark:bg-jacarta-700 font-display text-jacarta-700 collapsed relative flex w-full items-center justify-between bg-white px-4 py-3 text-left dark:text-white" type="button" data-bs-toggle="collapse" data-bs-target="#faq-4" aria-expanded="false" aria-controls="faq-4">
                            <span>How will I know if I was selected?</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="accordion-arrow fill-jacarta-700 h-4 w-4 shrink-0 transition-transform dark:fill-white">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                            </svg>
                        </button>
                    </h2>
                    <div id="faq-4" class="accordion-collapse collapse" aria-labelledby="faq-heading-4" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 border-t bg-white p-4">
                            <p class="dark:text-jacarta-200">
                                In about a week from the launch of the Program we'll announce the winners via our Discord and Twitter. We'll also contact the selected Ambassadors and assign the "Ambassador" role on Discord.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item dark:border-jacarta-600 border-jacarta-100 mb-5 overflow-hidden rounded-lg border">
                    <h2 class="accordion-header" id="faq-heading-5">
                        <button class="accordion-button dark:bg-jacarta-700 font-display text-jacarta-700 collapsed relative flex w-full items-center justify-between bg-white px-4 py-3 text-left dark:text-white" type="button" data-bs-toggle="collapse" data-bs-target="#faq-5" aria-expanded="false" aria-controls="faq-5">
                            <span>Will I get a reward for being an Ambassador?</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="accordion-arrow fill-jacarta-700 h-4 w-4 shrink-0 transition-transform dark:fill-white">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                            </svg>
                        </button>
                    </h2>
                    <div id="faq-5" class="accordion-collapse collapse" aria-labelledby="faq-heading-5" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 border-t bg-white p-4">
                            <p class="dark:text-jacarta-200">
                                Sure. We value your time, work and effort. If you'll act accordingly to your assigned responsibilities you'll be rewarded with our Omnichain OSEA Token.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Token -->

<!-- About Token -->
<section id="ambassadorsForm" class="relative bg-light-base py-24">
    <div *ngIf="form" [formGroup]="form" class="container">
        <div class="mx-auto mb-20 max-w-xl text-center">
            <h2 class="font-display text-jacarta-700 mb-6 text-center text-3xl font-medium dark:text-white">
                Apply Now!
            </h2>
            <p class="dark:text-jacarta-300">
                It's easy. Complete few tasks and fill the form.
            </p>
        </div>

        <!-- Twitter Name -->
        <div class="mb-6">
            <label for="twitterName" class="font-display text-jacarta-700 mb-2 block dark:text-white">Twitter Username<span class="text-red">*</span>
            </label>
            <input
                    required
                    formControlName="twitterName"
                    type="text"
                    id="twitterName"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                    placeholder="@username"
            />
        </div>

        <!-- Discord Name -->
        <div class="mb-6">
            <label for="discordName" class="font-display text-jacarta-700 mb-2 block dark:text-white">Discord Username<span class="text-red">*</span>
            </label>
            <input
                    required
                    formControlName="discordName"
                    type="text"
                    id="discordName"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                    placeholder="Username#1234"
            />
        </div>

        <!-- Participated Testnet Address -->
        <div class="mb-6">
            <label for="testnetAddress" class="font-display text-jacarta-700 mb-2 block dark:text-white">Have you joined our Testnet?</label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                If yes, please leave your wallet address here
            </p>
            <input
                    formControlName="testnetAddress"
                    type="text"
                    id="testnetAddress"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Region -->
        <div class="mb-6">
            <label for="region" class="font-display text-jacarta-700 mb-2 block dark:text-white">Your Region<span class="text-red">*</span></label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                Which region would you like to be an Ambassador for?
            </p>
            <input
                    required
                    formControlName="region"
                    type="text"
                    id="region"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                    placeholder="e.g. Your Country"
            />
        </div>

        <!-- Experience -->
        <div class="mb-6">
            <label for="experience" class="fonzt-display text-jacarta-700 mb-2 block dark:text-white">Experience</label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                If you're a crypto related content creator, group's admin, blogger, follower (or similar) - leave your links here.
            </p>
            <textarea
                    formControlName="experience"
                    id="experience"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                    rows="4"
                    placeholder="Twitter, YouTube, Discord, Medium, Telegram, etc. No limits 😉"
            ></textarea>
        </div>

        <!-- Shared Testnet URL -->
        <div class="mb-6">
            <label for="sharedTestnetURL" class="font-display text-jacarta-700 mb-2 block dark:text-white">Share Testnet</label>
            <p class="dark:text-jacarta-300 text-2xs mb-1">
                Have you introduced our testnet on your Twitter or Telegram channel (If you are an admin of crypto related channels)? If so, Please enter the link below.
            </p>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                * You can use this <a class="text-accent" href="https://twitter.com/omnisea/status/1523140440748269568" target="_blank">tweet</a> (e.g. by retweeting it)
            </p>
            <input
                    formControlName="sharedTestnetURL"
                    type="text"
                    id="sharedTestnetURL"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Availability -->
        <div class="mb-6">
            <label for="availability" class="font-display text-jacarta-700 mb-2 block dark:text-white">Availability<span class="text-red">*</span></label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                Can you be active on our Discord server? How much time do you plan to spend on helping your Region's Omnisea Community?
            </p>
            <input
                    required
                    formControlName="availability"
                    type="text"
                    id="availability"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Retweets -->
        <div class="mb-6">
            <label for="retweets" class="font-display text-jacarta-700 mb-2 block dark:text-white">Help us grow - Retweet<span class="text-red">*</span></label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                To help us grow already could you retweet our 2 or 3 Tweets (<a class="text-accent" href="https://twitter.com/omnisea" target="_blank">twitter.com/omnisea</a>)? Enter links to your retweets.
            </p>
            <textarea
                    required
                    formControlName="retweets"
                    id="retweets"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                    rows="4"
                    placeholder="Links to the your retweets"
            ></textarea>
        </div>


        <p class="text-red" *ngIf="form.get('experience')?.value?.length > 2000">
            Experience field can be max 2000 characters long.
        </p>

        <!-- Submit -->
        <button [disabled]="form.invalid"
                (click)="onSubmit()"
                [ngClass]="{'bg-jacarta-300': form.invalid, 'cursor-default': form.invalid}"
                type="button"
                class="bg-accent cursor-pointer rounded-full py-3 px-8 text-center font-semibold text-white transition-all">
            Submit
        </button>
    </div>
</section>
<!-- End About Token -->