<div *ngIf="form" [formGroup]="form" class="mx-auto max-w-[48.125rem]">
    <!-- Topic -->
    <div class="mb-6">
        <label for="topic" class="font-display text-jacarta-700 mb-2 block dark:text-white">
            Topic<span class="text-red">*</span>
        </label>
        <p *ngIf="form.get('topic').value && form.get('topic').value.length > 500" class="text-red font-bold">
            Topic can have maximum 500 characters.
        </p>
        <input
                required
                formControlName="topic"
                maxlength="500"
                type="text"
                id="topic"
                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                placeholder="Topic"
        />
    </div>

    <!-- Message -->
    <div class="mb-6">
        <label for="message" class="font-display text-jacarta-700 mb-2 block dark:text-white">
            Message<span class="text-red">*</span>
        </label>
        <p *ngIf="form.get('message').value && form.get('message').value.length > 2000" class="text-red font-bold">
            Your message can have maximum 2000 characters.
        </p>
        <input
                required
                formControlName="message"
                maxlength="2000"
                type="text"
                id="message"
                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                placeholder="Describe the issue"
        />
    </div>

    <!-- Email -->
    <div class="mb-6">
        <label for="email" class="font-display text-jacarta-700 mb-2 block dark:text-white">
            Your e-mail<span class="text-red">*</span>
        </label>
        <p *ngIf="form.get('email').value && form.get('email').value.length > 250" class="text-red font-bold">
            Your e-mail can have maximum 250 characters.
        </p>
        <input
                required
                formControlName="email"
                maxlength="250"
                type="email"
                id="email"
                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                placeholder="Your e-mail"
        />
    </div>

    <!-- Submit -->
    <button
            [disabled]="form.invalid"
            (click)="onSubmit()"
            [ngClass]="{'bg-jacarta-300': form.invalid, 'cursor-default': form.invalid}"
            type="button"
            class="bg-accent cursor-pointer rounded-full py-3 px-8 text-center font-semibold text-white transition-all">
        Submit
    </button>
</div>