<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<section class="relative py-16 md:py-24">
    <div class="container">
        <header class="mx-auto mb-16 max-w-lg text-center">
            <div class="mb-3 inline-flex flex-wrap items-center space-x-1 text-xs">
              <span class="text-accent inline-flex flex-wrap items-center space-x-1">
                <a (click)="goToCategory()">Back to the {{category | titlecase}} section</a>
              </span>
            </div>

            <h1 class="font-display text-jacarta-700 mb-4 text-2xl dark:text-white sm:text-5xl">
                {{topic.name}}
            </h1>
        </header>

        <figure *ngIf="topic.imagePath" class="mb-16">
            <span [style.background-image]="'url(\''+topic.imagePath+'\')'" class="topic-cover w-full rounded-[1.25rem]"></span>
        </figure>

        <div *ngIf="!topic.imagePath">
            <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                            height: '33vh',
                            width: '100%',
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
            ></ngx-skeleton-loader>
        </div>

        <!-- Article -->
        <article class="mb-12">
            <!-- Content -->
            <div *ngIf="topic.content" class="article-content" [innerHTML]="topic.content"></div>

            <app-support-form *ngIf="topic.name === 'Support'"></app-support-form>
        </article>
    </div>
</section>
