.item-image-cover-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;

  .cover-inner-details {
    text-align: center;
    align-items: center;
  }

  .cover-inner-more-button {
    position: absolute;
    width: max-content;
    bottom: 5%;
    right: 5%;
    z-index: 1;

    @media (max-width: 575px) {
      right: unset;
      bottom: -5%;
    }

    @media (max-height: 400px) {
      bottom: -20%;
    }

    @media (max-height: 370px) {
      bottom: -25%;
    }

    .button-round {
      height: 56px;
      width: 56px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }

    @media (min-width: 1202px) {
      transform: translateY(50%);
      bottom: 0;
    }
  }

  .cover-inner-info-card {
    position: absolute;
    width: max-content;
    bottom: 5%;
    z-index: 1;

    @media (min-width: 1202px) {
      margin-left: 2rem;
      transform: translateY(50%);
      bottom: 0;
    }

    @media (max-height: 400px) {
      bottom: -15%;
    }

    @media (max-height: 370px) {
      bottom: -20%;
    }

    .info-tiles {
      padding: 24px;
      border: none;

      @media (max-width: 767px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;

        .info-value {
          font-size: 1rem !important;
        }

        .info-label {
          font-size: .7rem !important;
        }
      }

      @media (max-width: 320px) {
        gap: 8px;
      }
    }
  }

  @media (min-width: 1202px) {
    height: 90vh;
    justify-content: start;

    .cover-inner-details {
      align-items: start;
      padding-left: 2rem;
      text-align: left;
    }
  }

  figure {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    z-index: -1;
    filter: brightness(.5);
  }
}

#nfts {
  .item-card {
    @media (max-width: 768px) {
      max-width: 100vw;
    }
  }
}

#collectionActions {
  box-shadow: none;
}