<!-- Collection Image -->
<div class="item-image-cover-container flex items-center justify-center relative">

    <div *ngIf="details" class="cover-inner-details flex flex-col">
        <span (click)="goToCollectionOnExplorer()" class="badge-blured flex justify-center items-center mb-6">
            Explorer
            <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4"><path d="M15.0008 0H8.00078V2H12.6008L6.30078 8.3L7.70078 9.7L14.0008 3.4V8H16.0008V1C16.0008 0.4 15.6008 0 15.0008 0Z" fill="currentColor"></path><path d="M14 16H1C0.4 16 0 15.6 0 15V2C0 1.4 0.4 1 1 1H5V3H2V14H13V11H15V15C15 15.6 14.6 16 14 16Z" fill="currentColor"></path></svg>
        </span>

        <h1 class="text-white font-display text-center mb-6 text-5xl md:text-left lg:text-6xl xl:text-7xl">
            {{details?.collectionName}}
        </h1>

        <div class="flex justify-start items-center">
            <span *ngIf="!isConnectedToWallet || !isActionButtonDisabled"
                  (click)="onMint()" [ngClass]="{'accent': !isActionButtonDisabled}" class="badge-blured accent mr-8
                   flex justify-center items-center">
                {{actionButtonLabel}}
            </span>

             <span *ngIf="details" (click)="goToCreator()" class="badge-blured flex justify-center items-center">
                By: {{getCreatorAlias()}}
             </span>
        </div>
    </div>

    <figure [style.background-image]="'url(\''+(hdImageLoaded ? hdImageSrc : imageSrc)+'\')'" class="relative">
        <img hidden
             *ngIf="hdImageSrc"
             [src]="hdImageSrc"
             (load)="hdImageLoaded = true;"
             class="hidden"
             loading="eager"
        />
    </figure>

    <div class="cover-inner-info-card">
        <div *ngIf="totalSupply !== undefined" class="info-tiles shadow-md border-jacarta-100 inline-flex flex-wrap items-center justify-center rounded-xl border bg-white">
            <a class="dark:border-jacarta-600 border-jacarta-100 w-1/2 rounded-l-xl py-4 sm:w-32">
                <div class="font-display text-jacarta-700 mb-1 text-xl font-bold dark:text-white info-value">{{totalSupply > 0 ? totalSupply : 'Unlimited'}}</div>
                <div class="font-display text-jacarta-300 text-lg tracking-tight info-label">Items</div>
            </a>
            <a *ngIf="totalSupply > 0"
               [ngxTippy]="isRiskingSupplyExceeded ? 'Someone is already minting the remaining NFT. Try only at your own risk. In case of exceeded supply, your transaction will fail and you will be eligible for a ' + details.assetName + ' payment refund.' : null"
               class="dark:border-jacarta-600 border-jacarta-100 w-1/2 rounded-l-xl py-4 sm:w-32">
                <ngx-skeleton-loader
                        *ngIf="remainingCount === undefined"
                        [theme]="{
                              height: '16px',
                              width: '24px',
                              border: '1px solid white'
                            }"
                        count="1"
                ></ngx-skeleton-loader>

                <div *ngIf="remainingCount !== undefined"
                     [ngClass]="{'text-red': isRiskingSupplyExceeded}"
                     class="font-display text-jacarta-700 mb-1 text-xl font-bold dark:text-white info-value">{{remainingCount}}</div>
                <div [ngClass]="{'text-red': isRiskingSupplyExceeded}"
                     class="font-display text-jacarta-300 text-lg tracking-tight info-label">Remaining</div>
            </a>
            <a *ngIf="mintPriceInUnits !== undefined"
               [ngxTippy]="'Pay '+ mintPriceFormatted + ' ' + details.assetName + ' to mint'"
               class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <img [src]="'/assets/img/currencies/'+details.assetName+'.svg'" class="h-6 w-6 mr-1"/>
                    <span class="font-display font-bold text-xl info-value">{{mintPriceInUnits > 0 ? (mintPriceFormatted | number : '1.2-2') : 'Free'}}</span>
                </div>
                <div class="font-display text-jacarta-300 text-lg xs:text-md tracking-tight info-label">Mint Price</div>
            </a>

            <a *ngIf="isLoaded && dateFromAsUnix > 0 && !isFinished" class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <span class="font-display font-bold text-xl info-value">{{isOngoing ? 'Ongoing' : (dateFrom | titlecase)}}</span>
                </div>
                <div class="font-display text-jacarta-300 text-lg tracking-tight info-label">Start</div>
            </a>

            <a *ngIf="isLoaded && dateToAsUnix > 0" class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <span class="font-display font-bold text-xl info-value">{{isFinished ? 'Ended' : (dateTo | titlecase)}}</span>
                </div>
                <div class="font-display text-jacarta-300 text-lg tracking-tight info-label">End</div>
            </a>
        </div>
    </div>

    <div *ngIf="details" class="cover-inner-more-button">
        <div class="button-round shadow-md dropdown dark:bg-jacarta-700 border bg-white">
            <a href="#"
               class="dark:bg-jacarta-700 bg-white dropdown-toggle flex items-center justify-between rounded-lg py-3.5 px-3 text-sm dark:text-white"
               role="button" id="collectionActions" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="dark:fill-jacarta-200 fill-jacarta-500">
                    <circle cx="2" cy="2" r="2"></circle>
                    <circle cx="8" cy="2" r="2"></circle>
                    <circle cx="14" cy="2" r="2"></circle>
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end dark:bg-jacarta-800 z-10 hidden min-w-[200px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl" aria-labelledby="collectionActions" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-66px, 139.333px, 0px);">
                <button (click)="goToIpfsFileView()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg width="22" height="22" viewBox="0 0 20 23" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M19.21 5.22194L10.6386 0.936228C10.2371 0.734799 9.76286 0.734799 9.36 0.936228L0.788572 5.22194C0.305714 5.4648 0 5.95908 0 6.50051V16.5005C0 17.0419 0.305714 17.5362 0.79 17.7791L9.36143 22.0648C9.56143 22.1648 9.78143 22.2148 10 22.2148C10.2186 22.2148 10.4386 22.1648 10.6386 22.0648L19.21 17.7791C19.6943 17.5362 20 17.0419 20 16.5005V6.50051C20 5.95908 19.6943 5.4648 19.21 5.22194ZM10 3.81194L15.3771 6.50051L10 9.18908L4.62286 6.50051L10 3.81194ZM2.85714 8.81194L8.57143 11.6691V18.4748L2.85714 15.6177V8.81194ZM11.4286 18.4748V11.6691L17.1429 8.81194V15.6177L11.4286 18.4748Z" fill="currentColor"></path></svg>                    </span>
                    <span>
                        View on IPFS
                    </span>
                </button>
                <button (click)="goToIpfsMetadataView()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993zM4 5v14h16V5H4zm2 2h6v6H6V7zm2 2v2h2V9H8zm-2 6h12v2H6v-2zm8-8h4v2h-4V7zm0 4h4v2h-4v-2z"></path>
                        </svg>
                    </span>
                    <span>
                        View metadata
                    </span>
                </button>
                <button (click)="goToCollectionOnExplorer()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg width="22" height="22" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.36444 9.99861C4.36442 9.88134 4.38756 9.76521 4.43254 9.65691C4.47752 9.5486 4.54344 9.45026 4.62652 9.36752C4.70961 9.28478 4.80821 9.21927 4.91668 9.17477C5.02514 9.13026 5.14133 9.10763 5.25856 9.10818L6.74093 9.11304C6.97729 9.11304 7.20397 9.20697 7.3711 9.37416C7.53823 9.54135 7.63212 9.7681 7.63212 10.0045V15.6119C7.79911 15.5624 8.01328 15.5096 8.24789 15.4546C8.41079 15.4162 8.55596 15.3239 8.65988 15.1927C8.76379 15.0615 8.82036 14.899 8.8204 14.7316V7.77617C8.82039 7.65908 8.84344 7.54313 8.88822 7.43495C8.93301 7.32676 8.99866 7.22846 9.08142 7.14566C9.16418 7.06285 9.26243 6.99717 9.37057 6.95235C9.47871 6.90753 9.59461 6.88446 9.71167 6.88445H11.197C11.4333 6.88449 11.66 6.97843 11.8271 7.14561C11.9942 7.31279 12.0881 7.53953 12.0882 7.77596V14.2318C12.0882 14.2318 12.4599 14.0812 12.8222 13.9282C12.9568 13.8713 13.0716 13.776 13.1524 13.6542C13.2331 13.5324 13.2762 13.3895 13.2764 13.2434V5.54701C13.2764 5.42994 13.2994 5.31401 13.3442 5.20585C13.389 5.09768 13.4546 4.99941 13.5373 4.91662C13.6201 4.83384 13.7183 4.76817 13.8265 4.72336C13.9346 4.67856 14.0505 4.6555 14.1675 4.6555H15.6528C15.8891 4.6555 16.1158 4.74942 16.283 4.91661C16.4501 5.0838 16.544 5.31056 16.544 5.54701V11.8845C17.8318 10.951 19.1368 9.82806 20.1725 8.47789C20.3228 8.28191 20.4222 8.05176 20.4619 7.80799C20.5016 7.56421 20.4804 7.31439 20.4002 7.08081C19.6994 5.03788 18.385 3.26132 16.6366 1.99407C14.8882 0.72681 12.7912 0.0307121 10.6323 0.000951922C4.81072 -0.0772794 -0.0005215 4.6766 5.03732e-05 10.501C-0.00566572 12.344 0.475188 14.1558 1.39399 15.7533C1.5207 15.9718 1.70711 16.1496 1.93133 16.2658C2.15554 16.382 2.40825 16.4318 2.65976 16.4093C2.94076 16.3845 3.29061 16.3496 3.7065 16.3007C3.88752 16.2801 4.05464 16.1936 4.17604 16.0577C4.29743 15.9218 4.36461 15.746 4.3648 15.5638V9.99861" fill="currentColor"></path><path d="M4.33235 18.991C5.89799 20.1303 7.74818 20.8142 9.67825 20.967C11.6083 21.1197 13.543 20.7354 15.2683 19.8565C16.9935 18.9776 18.4421 17.6384 19.4538 15.9871C20.4655 14.3357 21.0007 12.4366 21.0004 10.4998C21.0004 10.2581 20.9892 10.019 20.9731 9.78125C17.1385 15.502 10.0584 18.1765 4.33228 18.9912" fill="currentColor"></path></svg>
                    </span>
                    <span>
                        View on Explorer
                    </span>
                </button>
                <hr class="dark:bg-jacarta-600 bg-jacarta-100 my-2 mx-4 h-px border-0">

                <button (click)="shareOnTwitter()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="twitter"
                                class="group-hover:fill-accent fill-jacarta-300 h-5 w-5 dark:group-hover:fill-white"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                            <path
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                            ></path>
                        </svg>
                    </span>
                    <span>
                        Share
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<section class="dark:bg-jacarta-800 bg-light-base relative pb-12 pt-12">
    <div class="container">
        <!-- Tabs -->
        <div *ngIf="details" class="scrollbar-custom mt-14 overflow-x-auto overflow-y-hidden rounded-lg">
            <div class="min-w-fit">
                <!-- Tabs Nav -->
                <ul class="nav nav-tabs flex items-center md:justify-center overflow-x-auto overflow-y-hidden mb-12" role="tablist">
                    <!-- NFTs -->
                    <li *ngIf="nfts.length" [ngClass]="{'active': selectedTab === 'nfts'}" class="nav-item"
                        role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'nfts'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="nfts-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nfts"
                                type="button"
                                role="tab"
                                aria-controls="nfts"
                                aria-selected="false"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    class="mr-1 h-5 w-5 fill-current"
                            >
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path
                                        d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z"
                                />
                            </svg>
                            <span class="text-base font-medium">NFTs</span>
                        </button>
                    </li>

                    <!-- Details -->
                    <li [ngClass]="{'active': selectedTab === 'details'}" class="nav-item" role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'details'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="details-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#details"
                                type="button"
                                role="tab"
                                aria-controls="details"
                                aria-selected="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                 class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M6.17 18a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2v-2h4.17zm6-7a3.001 3.001 0 0 1 5.66 0H22v2h-4.17a3.001 3.001 0 0 1-5.66 0H2v-2h10.17zm-6-7a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2V4h4.17z"></path>
                            </svg>
                            <span class="text-base font-medium">Details</span>
                        </button>
                    </li>

                    <!-- Description -->
                    <li *ngIf="details?.metadata?.description" [ngClass]="{'active': selectedTab === 'description'}" class="nav-item" role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'description'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="description-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#description"
                                type="button"
                                role="tab"
                                aria-controls="description"
                                aria-selected="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M5 15v4h4v2H3v-6h2zm16 0v6h-6v-2h4v-4h2zm-8.001-9l4.4 11h-2.155l-1.201-3h-4.09l-1.199 3H6.6l4.399-11h2zm-1 2.885L10.752 12h2.492l-1.245-3.115zM9 3v2H5v4H3V3h6zm12 0v6h-2V5h-4V3h6z"></path>
                            </svg>

                            <span class="text-base font-medium">Description</span>
                        </button>
                    </li>

                    <!-- Earnings -->
                    <li *ngIf="isCreator && mintPriceInUnits > 0" [ngClass]="{'active': selectedTab === 'earnings'}" class="nav-item"
                        role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'earnings'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="earnings-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#earnings"
                                type="button"
                                role="tab"
                                aria-controls="earnings"
                                aria-selected="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M17 16h2V4H9v2h8v10zm0 2v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3zM7 16v2h2v1h2v-1h.5a2.5 2.5 0 1 0 0-5h-3a.5.5 0 1 1 0-1H13v-2h-2V9H9v1h-.5a2.5 2.5 0 1 0 0 5h3a.5.5 0 1 1 0 1H7z"></path>
                            </svg>

                            <span class="text-base font-medium">Earned</span>
                        </button>
                    </li>

                    <!-- Refunds -->
                    <li *ngIf="mintPriceInUnits > 0 && isRefundable" [ngClass]="{'active': selectedTab === 'refunds'}" class="nav-item" role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'refunds'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="refunds-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#refunds"
                                type="button"
                                role="tab"
                                aria-controls="refunds"
                                aria-selected="false"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M22 6h-7a6 6 0 1 0 0 12h7v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v2zm-7 2h8v8h-8a4 4 0 1 1 0-8zm0 3v2h3v-2h-3z"></path>
                            </svg>

                            <span class="text-base font-medium">Refunds</span>
                        </button>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content">
                    <!-- Details -->
                    <div (click)="selectedTab = 'details'"
                         [ngClass]="{'show': selectedTab === 'details', 'active': selectedTab === 'details'}"
                         class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <div class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 rounded-t-2lg rounded-b-2lg rounded-tl-none border bg-white p-6 md:p-10">
                            <div class="mb-2 flex items-center">
                                <span class="dark:text-jacarta-300 mr-2 min-w-[9rem]">Contract Address:</span>
                                <a (click)="goToCollectionOnExplorer()" class="text-accent">{{collectionAddress}}</a>
                            </div>

                            <div class="flex items-center mb-2">
                                <span class="dark:text-jacarta-300 mr-2 min-w-[9rem]">Blockchain:</span>
                                <span class="flex items-center">
                                    <img [src]="'/assets/img/chains/'+collectionChainSymbol+'.png'"
                                         class="mr-2 h-5 w-5 rounded-full"/>
                                    <span class="text-jacarta-700 dark:text-white">
                                        {{collectionChainName}}
                                    </span>
                                </span>
                            </div>

                            <div *ngIf="details?.srcChain" class="flex items-center mb-2">
                                <span class="dark:text-jacarta-300 mr-2 min-w-[9rem]">Created from:</span>
                                <span class="flex items-center">
                                    <img [src]="'/assets/img/chains/'+details.srcChain+'.png'"
                                         class="mr-2 h-5 w-5 rounded-full"/>
                                    <span class="text-jacarta-700 dark:text-white">
                                        {{srcChainName}}
                                    </span>
                                </span>
                            </div>

                            <div *ngIf="metadata?.external_link?.length" class="flex items-center">
                                <span class="dark:text-jacarta-300 mr-2 min-w-[9rem]">Website:</span>
                                <a [href]="metadata.external_link.includes('http') ? metadata.external_link : '//'+metadata.external_link" target="_blank" class="text-jacarta-700 dark:text-white hover:text-accent">{{metadata.external_link}}</a>
                            </div>
                        </div>
                    </div>

                    <!-- NFTs -->
                    <div *ngIf="nfts.length" (click)="selectedTab = 'nfts'"
                         [ngClass]="{'show': selectedTab === 'nfts', 'active': selectedTab === 'nfts'}"
                         class="tab-pane fade" id="nfts" role="tabpanel" aria-labelledby="nfts-tab">
                        <div class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3">
                            <article class="item-card" *ngFor="let nft of nfts">
                                <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 rounded-2.5xl block border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">
                                    <figure *ngIf="contentType !== 'MUSIC'" class="relative">
                                        <a>
                                            <img [src]="nft.fileURL" class="rounded-[0.625rem] w-full" loading="eager">
                                        </a>
                                    </figure>

                                    <vm-player *ngIf="contentType === 'MUSIC' && nft.fileURL" style="--vm-player-theme: #EC255A">
                                        <vm-audio>
                                            <source [attr.data-src]="nft.fileURL" type="audio/mp3" />
                                        </vm-audio>
                                        <vm-ui>
                                            <vm-scrim></vm-scrim>
                                            <vm-skeleton></vm-skeleton>
                                            <vm-controls pin="bottomLeft" active-duration="2750" full-width>
                                                <vm-click-to-play></vm-click-to-play>
                                                <vm-playback-control></vm-playback-control>
                                                <vm-volume-control></vm-volume-control>
                                                <vm-time-progress></vm-time-progress>
                                            </vm-controls>
                                        </vm-ui>
                                    </vm-player>

                                    <div class="mt-7 flex items-center justify-between">
                                        <a>
                                            <span class="font-display text-jacarta-700 hover:text-accent text-base dark:text-white">{{details.collectionName}} #{{nft.tokenId}}</span>
                                        </a>
                                    </div>
                                    <div class="mt-2 text-sm">
                                        <span *ngIf="isOngoing"
                                              class="dark:text-jacarta-200 text-jacarta-700 mr-1">🔥 {{mintPriceFormatted | number : '1.2-2'}} {{details.assetName}}</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- Description -->
                    <div *ngIf="details?.metadata?.description" (click)="selectedTab = 'description'"
                         [ngClass]="{'show': selectedTab === 'description', 'active': selectedTab === 'description'}"
                         class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <div class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 rounded-t-2lg rounded-b-2lg rounded-tl-none border bg-white p-6 md:p-10">
                            <div class="text-lg">
                                {{details.metadata.description}}
                            </div>
                        </div>
                    </div>

                    <!-- Earnings -->
                    <div *ngIf="isCreator && mintPriceInUnits > 0" (click)="selectedTab = 'earnings'"
                         [ngClass]="{'show': selectedTab === 'earnings', 'active': selectedTab === 'earnings'}"
                         class="tab-pane fade" id="earnings" role="tabpanel" aria-labelledby="earnings-tab">

                        <div *ngIf="otherChains && isEarning" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Claim your earnings</span>
                            <span class="text-sm mt-4">Earnings from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} are locked until you claim them. Do it here and wait a few minutes for a transfer. You'll receive {{details.assetName}} on the "claimed" chain. Connect to the {{mapChainSymbolToName(collectionChainSymbol)}} to enable claiming.</span>
                        </div>

                        <div *ngIf="otherChains && !isEarning" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Nothing to claim</span>
                            <span class="text-sm mt-4">Currently there are no earnings from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} to claim. All such earnings will be claimable here. Funds earned from minting on {{mapChainSymbolToName(collectionChainSymbol)}} are automatically sent to you.</span>
                        </div>

                        <div *ngIf="otherChains && isEarning" class="scrollbar-custom overflow-x-auto">
                            <div role="table"
                                 class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 lg:rounded-2lg w-full min-w-[736px] border bg-white text-sm dark:text-white">
                                <div class="dark:bg-jacarta-600 bg-jacarta-50 rounded-t-2lg flex" role="row">
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Chain</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Minted</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Earned</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Action</span>
                                    </div>
                                </div>
                                <a *ngFor="let chain of otherChains" class="flex transition-shadow hover:shadow-lg" role="row">
                                    <div [ngxTippy]="('Minted from ' + mapChainSymbolToName(chain))" class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <figure class="relative mr-2 w-8 shrink-0 self-start lg:mr-5 lg:w-12">
                                            <img [src]="'/assets/img/chains/'+chain+'.png'" class="rounded-2lg" loading="eager">
                                        </figure>

                                        <span class="font-display text-jacarta-700 text-sm font-semibold dark:text-white">
                                            {{mapChainSymbolToName(chain)}}
                                        </span>
                                    </div>

                                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        {{getMintedFromChainCount(earningsList[chain])}}
                                    </div>

                                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        {{(earningsList[chain] || 0) | number : '1.2-2'}} {{details.assetName}}
                                    </div>

                                    <div [ngxTippy]="!isConnectedToCollectionChain() ? ('Connect to the ' + mapChainSymbolToName(collectionChainSymbol) + ' to claim earnings from other chains.') : null"
                                         class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <span (click)="onClaimEarned(chain)"
                                              [ngClass]="{'pointer-events-none': !canClaimEarned(chain), 'text-jacarta-400': !canClaimEarned(chain), 'text-accent': canClaimEarned(chain)}"
                                              class="font-display">{{earningsClaimedToChainMap[chain] ? 'Claimed' : 'Claim'}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <!-- Refunds -->
                    <div *ngIf="mintPriceInUnits > 0" (click)="selectedTab = 'refunds'"
                         [ngClass]="{'show': selectedTab === 'refunds', 'active': selectedTab === 'refunds'}"
                         class="tab-pane fade" id="refunds" role="tabpanel" aria-labelledby="refunds-tab">

                        <div *ngIf="otherChains && isRefundable" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Claim your refunds</span>
                            <span class="text-sm mt-4">If you mint NFT from the other chain, and in the meantime its collection's supply has exceeded (someone minted the last available NFT), your transaction will fail for that reason. Refunds from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} are waiting until you claim them. Do it here and wait a few minutes for a transfer. You'll receive {{details.assetName}} on the "claimed" chain. Connect to the {{mapChainSymbolToName(collectionChainSymbol)}} to enable claiming.</span>
                        </div>

                        <div *ngIf="otherChains && !isRefundable" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Nothing to claim</span>
                            <span class="text-sm mt-4">Currently there are no refunds from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} to claim. All such refunds (for transactions failed due to exceeded supply during Omnichain Mint) will be claimable here. Refunds for transactions failed on the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} chain are automatically sent to you without claiming.</span>
                        </div>

                        <div *ngIf="otherChains && isRefundable" class="scrollbar-custom overflow-x-auto">
                            <div role="table"
                                 class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 lg:rounded-2lg w-full min-w-[736px] border bg-white text-sm dark:text-white">
                                <div class="dark:bg-jacarta-600 bg-jacarta-50 rounded-t-2lg flex" role="row">
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Chain</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Refundable</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Action</span>
                                    </div>
                                </div>
                                <a *ngFor="let chain of otherChains" class="flex transition-shadow hover:shadow-lg" role="row">
                                    <div [ngxTippy]="('Minting transaction on ' + mapChainSymbolToName(chain))" class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <figure class="relative mr-2 w-8 shrink-0 self-start lg:mr-5 lg:w-12">
                                            <img [src]="'/assets/img/chains/'+chain+'.png'" class="rounded-2lg" loading="eager">
                                        </figure>

                                        <span class="font-display text-jacarta-700 text-sm font-semibold dark:text-white">
                                            {{mapChainSymbolToName(chain)}}
                                        </span>
                                    </div>

                                    <div [ngClass]="{'font-bold': refundsList[chain] > 0}" class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        {{(refundsList[chain] || 0) | number : '1.2-2'}} {{details.assetName}}
                                    </div>

                                    <div [ngxTippy]="!isConnectedToCollectionChain() ? ('Connect to the ' + mapChainSymbolToName(collectionChainSymbol) + ' to claim refunds from other chains.') : null"
                                         class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <span (click)="onRefund(chain)"
                                              [ngClass]="{'pointer-events-none': !canClaimRefunds(chain), 'text-jacarta-400': !canClaimRefunds(chain), 'text-accent': canClaimRefunds(chain)}"
                                              class="font-display">{{refundsClaimedToChainMap[chain] ? 'Claimed' : 'Claim'}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
            </div>
        </div>
    </div>
</section>
