.feature-icon {
  width: 40px !important;
  max-width: 40px !important;
  height: auto;
  outline: none;
  transition: all .5s ease-in-out;
}

.card-cover {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: -1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

.category-items {
  article {
    position: relative;

    .card-cover {
      min-height: 33vh;
      filter: brightness(.8);
    }

    .description {
      opacity: 0;
      position: absolute;
      word-break: break-word;
      padding-top: 8rem;

      transition: all .5s ease-in-out;
      max-width: 65%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: auto;
    }

    &:hover {
      .description {
        opacity: 1;
        overflow: hidden;
      }
    }
  }
}