<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Collections -->
<section class="relative py-24">
    <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
        <img src="/assets/img/gradient_light.jpg" class="h-full w-full"/>
    </picture>
    <div class="container">
        <ng-progress id="collectionsProgressBar" [thick]="true" speed="500"></ng-progress>

        <h1 class="font-display text-jacarta-700 py-16 text-center text-4xl font-medium dark:text-white">
            {{sortBy | titlecase}} Collections
        </h1>

        <!-- Filters -->
        <div class="mb-8 flex flex-wrap items-center justify-between">
            <div *ngIf="!isLoaded" style="height: 35px; width: 12rem;">
                <ngx-skeleton-loader
                        count="1"
                        [theme]="{
                            height: '100%',
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
                ></ngx-skeleton-loader>
            </div>
            <div *ngIf="!isLoaded" fxHide.xs style="height: 35px; width: 10rem;">
                <ngx-skeleton-loader
                        count="1"
                        [theme]="{
                            height: '100%',
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
                ></ngx-skeleton-loader>
            </div>

            <ul *ngIf="isLoaded" class="flex flex-wrap items-center">
                <li *ngIf="hasFilters" class="my-1 mr-2.5">
                    <a (click)="resetFilters()"
                       class="dark:bg-jacarta-700 group dark:hover:bg-accent hover:bg-accent bg-jacarta-100 font-display text-jacarta-700 flex h-9 items-center justify-center rounded-lg px-4 text-sm font-semibold transition-colors hover:border-transparent hover:text-white dark:text-white"
                    >Reset</a
                    >
                </li>

                <li class="my-1 mr-2.5 js-nav-dropdown dropdown group relative">
                    <a id="typeDropdown" aria-expanded="false" role="button" data-bs-toggle="dropdown"
                       class="dropdown-toggle dark:border-jacarta-600 dark:bg-jacarta-900 dark:hover:bg-accent group hover:bg-accent border-jacarta-100 font-display text-jacarta-500 flex h-9 items-center rounded-lg border bg-white px-4 text-sm font-semibold transition-colors hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent dark:hover:text-white">
                        <svg *ngIf="selectedContentType === undefined" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 dark:fill-jacarta-100 mr-1 h-4 w-4 transition-colors group-hover:fill-white hover:fill-white">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M22 12.999V20a1 1 0 0 1-1 1h-8v-8.001h9zm-11 0V21H3a1 1 0 0 1-1-1v-7.001h9zM11 3v7.999H2V4a1 1 0 0 1 1-1h8zm10 0a1 1 0 0 1 1 1v6.999h-9V3h8z"></path>
                        </svg>
                        <svg *ngIf="selectedContentType === 'ART'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 dark:fill-jacarta-100 mr-1 h-4 w-4 transition-colors group-hover:fill-white hover:fill-white">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 2c5.522 0 10 3.978 10 8.889a5.558 5.558 0 0 1-5.556 5.555h-1.966c-.922 0-1.667.745-1.667 1.667 0 .422.167.811.422 1.1.267.3.434.689.434 1.122C13.667 21.256 12.9 22 12 22 6.478 22 2 17.522 2 12S6.478 2 12 2zm-1.189 16.111a3.664 3.664 0 0 1 3.667-3.667h1.966A3.558 3.558 0 0 0 20 10.89C20 7.139 16.468 4 12 4a8 8 0 0 0-.676 15.972 3.648 3.648 0 0 1-.513-1.86zM7.5 12a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm9 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM12 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                        </svg>
                        <svg *ngIf="selectedContentType === 'MUSIC'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 dark:fill-jacarta-100 mr-1 h-4 w-4 transition-colors group-hover:fill-white hover:fill-white">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 13.535V3h8v3h-6v11a4 4 0 1 1-2-3.465z"></path>
                        </svg>

                        <span>{{selectedContentType | lowercase | titlecase}}</span>
                    </a>

                    <ul class="dropdown-menu dark:bg-jacarta-800 -left-6 top-[85%] z-10 hidden flex flex-col items-center gap-x-4 whitespace-nowrap rounded-xl bg-white transition-all will-change-transform group-hover:visible group-hover:opacity-100 lg:invisible lg:absolute lg:!grid lg:translate-y-4 lg:py-8 lg:px-5 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-2" aria-labelledby="typeDropdown">
                        <li (click)="onContentTypeChange(contentType)" *ngFor="let contentType of contentTypes">
                            <a class="dark:hover:bg-jacarta-600 hover:text-accent focus:text-accent hover:bg-jacarta-50 flex items-center rounded-xl px-5 py-2 transition-colors">
                              <span class="rounded-xl p-[0.375rem]">
                                <svg *ngIf="contentType === 'ART'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">
                                  <path fill="none" d="M0 0h24v24H0z"></path>
                                  <path d="M12 2c5.522 0 10 3.978 10 8.889a5.558 5.558 0 0 1-5.556 5.555h-1.966c-.922 0-1.667.745-1.667 1.667 0 .422.167.811.422 1.1.267.3.434.689.434 1.122C13.667 21.256 12.9 22 12 22 6.478 22 2 17.522 2 12S6.478 2 12 2zm-1.189 16.111a3.664 3.664 0 0 1 3.667-3.667h1.966A3.558 3.558 0 0 0 20 10.89C20 7.139 16.468 4 12 4a8 8 0 0 0-.676 15.972 3.648 3.648 0 0 1-.513-1.86zM7.5 12a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm9 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM12 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                </svg>
                                <svg *ngIf="contentType === 'MUSIC'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">
                                  <path fill="none" d="M0 0h24v24H0z"></path>
                                  <path d="M12 13.535V3h8v3h-6v11a4 4 0 1 1-2-3.465z"></path>
                                </svg>
                              </span>
                                <span class="font-display text-jacarta-700 text-sm dark:text-white">{{contentType | lowercase | titlecase}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li (click)="toggleIsActiveFilter()" class="my-1 mr-2.5">
                    <a [ngClass]="{'bg-accent': isActiveFilterOn, 'border-transparent': isActiveFilterOn, 'text-white': isActiveFilterOn}"
                       class="dark:border-jacarta-600 dark:bg-jacarta-900 dark:hover:bg-accent group hover:bg-accent border-jacarta-100 font-display text-jacarta-500 flex h-9 items-center rounded-lg border bg-white px-4 text-sm font-semibold transition-colors hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent dark:hover:text-white"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                             [ngClass]="{'fill-white': isActiveFilterOn}"
                             class="fill-jacarta-700 dark:fill-jacarta-100 mr-1 h-4 w-4 transition-colors group-hover:fill-white hover:fill-white">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M13 9h8L11 24v-9H4l9-15v9zm-2 2V7.22L7.532 13H13v4.394L17.263 11H11z"></path>
                        </svg>
                        <span>Active</span>
                    </a>
                </li>

                <li (click)="toggleIsFreeFilter()" class="my-1 mr-2.5">
                    <a [ngClass]="{'bg-accent': isFreeMintFilterOn, 'border-transparent': isFreeMintFilterOn, 'text-white': isFreeMintFilterOn}"
                       class="dark:border-jacarta-600 dark:bg-jacarta-900 dark:hover:bg-accent group hover:bg-accent border-jacarta-100 font-display text-jacarta-500 flex h-9 items-center rounded-lg border bg-white px-4 text-sm font-semibold transition-colors hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent dark:hover:text-white"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                             [ngClass]="{'fill-white': isFreeMintFilterOn}"
                             class="fill-jacarta-700 dark:fill-jacarta-100 mr-1 h-4 w-4 transition-colors group-hover:fill-white">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M9.33 11.5h2.17A4.5 4.5 0 0 1 16 16H8.999L9 17h8v-1a5.578 5.578 0 0 0-.886-3H19a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.761 0-5.1-.59-7-1.625L6 10.071A6.967 6.967 0 0 1 9.33 11.5zM5 19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v9zM18 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6zm-7-3a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path>
                        </svg>
                        <span>Free Mint</span>
                    </a>
                </li>
            </ul>

            <ul *ngIf="isLoaded" class="flex flex-wrap items-center">
<!--                <li *ngIf="!hasFilters && sortBy === 'newest'" [ngxTippy]="areNewPublicCollectionsAvailable ? 'Click to see newly added collections.' : 'We\'re checking in real-time if any new collections were added. In such case you\'ll be able to load them.'" class="my-1 mr-2.5">-->
<!--                    <a [ngClass]="{'bg-accent': areNewPublicCollectionsAvailable, 'border-transparent': areNewPublicCollectionsAvailable, 'text-white': areNewPublicCollectionsAvailable}"-->
<!--                       class="relative dark:border-jacarta-600 dark:bg-jacarta-900 group border-jacarta-100 font-display text-jacarta-500 flex h-9 items-center rounded-lg border bg-white px-4 text-sm font-semibold transition-colors hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent dark:hover:text-white">-->
<!--                        <ngx-ui-loader loaderId="newPublicCollectionsLoader" bgsSize="20" bgsColor="#4E8DFD"></ngx-ui-loader>-->

<!--                        <span *ngIf="areNewPublicCollectionsAvailable" (click)="loadNewPublicCollections()" class="flex justify-center items-center">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">-->
<!--                                <path fill="none" d="M0 0H24V24H0z"></path>-->
<!--                                <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12h2c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8C9.25 4 6.824 5.387 5.385 7.5H8v2H2v-6h2V6c1.824-2.43 4.729-4 8-4zm1 5v4.585l3.243 3.243-1.415 1.415L11 12.413V7h2z"></path>-->
<!--                            </svg>-->

<!--                            <span>Show New</span>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="my-1 mr-2.5">
                    <div class="js-nav-dropdown group-dropdown relative flex flex-wrap items-center">
                        <div class="dropdown relative my-1 cursor-pointer">
                            <div
                                    class="dark:bg-jacarta-700 dropdown-toggle border-jacarta-100 dark:border-jacarta-600 inline-flex w-48 items-center justify-between rounded-lg border bg-white py-2 px-3 text-sm dark:text-white"
                                    role="button"
                                    id="categoriesSort"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                <span class="font-display">{{sortBy | titlecase}}</span>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/>
                                </svg>
                            </div>

                            <div
                                    class="dropdown-menu dark:bg-jacarta-800 z-10 hidden w-full whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                                    aria-labelledby="categoriesSort"
                            >
                                <button (click)="onSortingChange('newest')"
                                        class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                >
                                    Newest
                                    <svg *ngIf="sortBy === 'newest'" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         class="fill-accent h-4 w-4">
                                        <path fill="none" d="M0 0h24v24H0z"/>
                                        <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"/>
                                    </svg>
                                </button>
                                <button (click)="onSortingChange('oldest')"
                                        class="dropdown-item font-display dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white">
                                    Oldest
                                    <svg *ngIf="sortBy === 'oldest'" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         class="fill-accent h-4 w-4">
                                        <path fill="none" d="M0 0h24v24H0z"/>
                                        <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <!-- Grid -->
        <div *ngIf="collections?.length"
             class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3"
             infiniteScroll
             [infiniteScrollDisabled]="!isLoaded"
             (scrolled)="loadMoreCollections()">
            <article [@inOutAnimation]="'in'" *ngFor="let collection of collections" (click)="goToCollection(collection)" #collectionContainer>
                <div *ngIf="collection.fileURI"
                     class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">
                    <figure class="relative">
                        <a>
                            <img
                                    *ngIf="collection.imageURL"
                                    (load)="collection.isImageLoaded = true;"
                                    (error)="onImageLoadError(collectionContainer)"
                                    [src]="collection.imageURL"
                                    class="w-full rounded-[0.625rem] max-h-72"
                                    loading="eager"
                            />
                        </a>
                    </figure>

                    <ngx-skeleton-loader
                            *ngIf="!collection.isImageLoaded"
                            count="1"
                            [theme]="{
                              'border-radius': '5px',
                              height: '18rem',
                              border: '1px solid white'
                            }"
                    ></ngx-skeleton-loader>

                    <div class="mt-7 flex items-center justify-between">
                        <a>
                        <span class="font-display text-jacarta-700 hover:text-accent text-base dark:text-white">
                            {{collection.collectionName}}
                        </span>
                        </a>
                    </div>

                    <div *ngIf="collection.mintPrice !== undefined && collection.totalSupply !== undefined" class="mt-2 flex justify-between text-sm">
                                <span *ngIf="collection.mintPrice"
                                      class="dark:text-jacarta-200 text-jacarta-700 mr-1">{{getFormattedPrice(collection.mintPrice, collection.assetName) | number : '1.2-2'}}
                                    {{collection.assetName}}
                                </span>
                        <span *ngIf="!collection.mintPrice" class="dark:text-jacarta-200 text-jacarta-700 mr-1">Free mint</span>
                        <span class="dark:text-jacarta-300 text-jacarta-500">{{collection.totalSupply || 'Unlimited'}} items</span>
                    </div>

                    <ngx-skeleton-loader
                            *ngIf="collection.mintPrice === undefined || collection.totalSupply === undefined"
                            count="1"
                            [theme]="{
                              'border-radius': '5px',
                              border: '1px solid white'
                            }"
                    ></ngx-skeleton-loader>
                </div>
            </article>

            <ng-template #paginationLoading>
                <article *ngFor="let item of placeholderItems">
                    <div *ngIf="!isLoaded"
                         class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">
                        <ngx-skeleton-loader
                                count="1"
                                [theme]="{
                              'border-radius': '5px',
                              height: '18rem',
                              border: '1px solid white'
                            }"
                        ></ngx-skeleton-loader>
                    </div>
                </article>
            </ng-template>

            <ng-container *ngTemplateOutlet="paginationLoading"></ng-container>
        </div>
        <!-- end grid -->

        <!-- Skeleton Grid -->
        <div *ngIf="!collections?.length && !isLoaded"
             class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-4">
            <article *ngFor="let item of placeholderItems">
                <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg"
                >
                    <ngx-skeleton-loader
                            count="1"
                            [theme]="{
                              'border-radius': '5px',
                              height: '18rem',
                              border: '1px solid white'
                            }"
                    ></ngx-skeleton-loader>
                </div>
            </article>
        </div>
        <!-- end skeleton grid -->

        <!-- empty -->
        <div *ngIf="isLoaded && isEmpty && !collections.length"
             class="mx-auto max-w-lg text-center">
            <h1 class="text-jacarta-700 font-display mb-6 text-4xl dark:text-white md:text-6xl">No {{hasFilters ? 'matching' : ''}} collections yet</h1>
            <p class="dark:text-jacarta-300 mb-12 text-lg leading-normal">
                {{hasFilters ? 'Reset or change your filters' : 'New collections will be visible here'}}.
            </p>
            <a *ngIf="collections.length === 0" (click)="goToCreate()"
               class="font-display bg-accent hover:bg-white border-accent text-white hover:border-1 hover:text-accent inline-block rounded-full py-3 px-8 text-center transition-all">Create
                your collection</a>
        </div>
    </div>
</section>
<!-- end collections -->