<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Rankings -->
<section class="relative py-24">
    <div class="container">
        <h1 class="font-display text-jacarta-700 py-16 text-center text-4xl font-medium dark:text-white">Rankings</h1>

        <!-- Filters -->
        <div *ngIf="isLoaded" class="mb-8 flex flex-wrap items-center justify-end">
            <div class="dropdown relative my-1 cursor-pointer">
                <div
                        class="dark:bg-jacarta-700 dropdown-toggle border-jacarta-100 dark:border-jacarta-600 inline-flex w-48 items-center justify-between rounded-lg border bg-white py-2 px-3 text-sm dark:text-white"
                        role="button"
                        id="sortOrdering"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    <span class="font-display">{{fromLabel}}</span>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                    >
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" />
                    </svg>
                </div>

                <div
                        class="dropdown-menu dark:bg-jacarta-800 z-10 hidden w-full whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                        aria-labelledby="sortOrdering"
                >
                    <button *ngFor="let inDays of fromFilterOptionsInDays" (click)="changeDaysFilter(inDays)"
                            class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white">
                        {{getFromLabel(inDays)}}
                        <svg
                                *ngIf="days === inDays"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-accent mb-[3px] h-4 w-4"
                        >
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" />
                        </svg>
                    </button>
                </div>
            </div>
            <!--  -->
        </div>
        <!-- end filters -->

        <!-- Table -->
        <div *ngIf="isLoaded" class="om-table scrollbar-custom overflow-x-auto">
            <div role="table"
                 class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 lg:rounded-2lg w-full min-w-[736px] border bg-white text-md dark:text-white">
                <div class="dark:bg-jacarta-600 bg-jacarta-50 rounded-t-2lg flex" role="row">
                    <div class="w-[28%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Collection</span>
                    </div>
                    <div class="w-[28%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Volume</span>
                    </div>
                    <div class="w-[18%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Mints</span>
                    </div>
                    <div class="w-[18%] py-3 px-4" role="columnheader">
                      <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Items</span>
                    </div>
                    <div class="w-[18%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Blockchain</span>
                    </div>
                </div>
                <a (click)="goToCollection(collectionStatistic)" *ngFor="let collectionStatistic of collectionsStatistics; let i = index" class="om-col flex transition-shadow hover:shadow-lg" role="row">
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[28%] items-center border-t py-4 px-4" role="cell">
                        <span class="mr-2 lg:mr-4">{{i + 1}}</span>

                        <figure *ngIf="collectionStatistic.fileURI" class="col-image relative mr-2 w-8 shrink-0 self-start lg:mr-5 lg:w-12">
                            <img [src]="collectionStatistic.fileURI" class="rounded-2lg h-12 w-12 min-w-[3rem]" loading="eager" />
                        </figure>

                        <span class="font-display text-jacarta-700 text-md font-semibold dark:text-white">{{collectionStatistic.name}}</span>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[28%] items-center whitespace-nowrap border-t py-4 px-4"
                         role="cell">
                        <span class="-ml-1" [ngxTippy]="collectionStatistic.assetName">
                            <img [src]="'/assets/img/currencies/'+collectionStatistic.assetName+'.svg'" class="h-4 w-4 mr-1"/>
                        </span>
                        <span class="text-md font-medium tracking-tight">{{collectionStatistic.volume ? (collectionStatistic.volume | number : '1.2-2') : 'Free mints'}}</span>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[18%] items-center border-t py-4 px-4"
                         [ngxTippy]="collectionStatistic.isOverMinted ? 'Including minting attempts over the collection\'s max supply (failed due to supply exceeded). We show that to illustrate the real popularity of the collection.' : null"
                         role="cell">
                        <span class="text-md font-medium tracking-tight" [ngClass]="{'text-accent': collectionStatistic.isOverMinted}">{{collectionStatistic.minted}}</span>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[18%] items-center border-t py-4 px-4"
                         role="cell">
                        <span *ngIf="collectionStatistic.totalSupply !== undefined">{{collectionStatistic.totalSupply === 0 ? '∞' : collectionStatistic.totalSupply}}</span>
                        <ngx-skeleton-loader
                                *ngIf="collectionStatistic.totalSupply === undefined"
                                [theme]="{
                              height: '16px',
                              width: '24px',
                              border: '1px solid white'
                            }"
                                count="1"
                        ></ngx-skeleton-loader>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[18%] items-center border-t py-4 px-4"
                         role="cell">
                        <span *ngIf="collectionStatistic.chainSymbol !== undefined" class="flex items-center">
                            <img [src]="'/assets/img/chains/'+collectionStatistic.chainSymbol+'.png'"
                                 class="mr-2 h-5 w-5 rounded-full"/>
                            <span class="text-jacarta-700 dark:text-white">
                                {{collectionStatistic.chainName}}
                            </span>
                        </span>
                        <ngx-skeleton-loader
                                *ngIf="collectionStatistic.chainSymbol === undefined"
                                [theme]="{
                              height: '16px',
                              width: '24px',
                              border: '1px solid white'
                            }"
                                count="1"
                        ></ngx-skeleton-loader>
                    </div>
                </a>
            </div>
        </div>

        <!-- Loading -->
        <div *ngIf="!isLoaded && !isLoadingError" class="om-table scrollbar-custom overflow-x-auto">
            <div role="table"
                 class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 lg:rounded-2lg w-full min-w-[736px] border bg-white text-md dark:text-white">
                <div class="dark:bg-jacarta-600 bg-jacarta-50 rounded-t-2lg flex" role="row">
                    <div class="w-[28%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Collection</span>
                    </div>
                    <div class="w-[28%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Volume</span>
                    </div>
                    <div class="w-[18%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Mints</span>
                    </div>
                    <div class="w-[18%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Items</span>
                    </div>
                    <div class="w-[18%] py-3 px-4" role="columnheader">
                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Blockchain</span>
                    </div>
                </div>
                <a *ngFor="let placeholderItem of placeholderItems;" class="om-col flex transition-shadow hover:shadow-lg" role="row">
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[28%] items-center border-t py-4 px-4" role="cell">
                        <span class="mr-2 lg:mr-4">
                            <ngx-skeleton-loader
                                    [theme]="{
                              height: '16px',
                              width: '44px',
                              border: '1px solid white',
                              display: 'flex',
                              'align-items': 'center',
                                        'margin-bottom': 0
                            }" count="1"
                            ></ngx-skeleton-loader>
                        </span>

                        <span>
                            <ngx-skeleton-loader
                                    [theme]="{
                                      height: '40px',
                                      width: '40px',
                                      display: 'flex',
                                      'align-items': 'center',
                                        'margin-bottom': 0
                                    }"
                                    count="1"
                                    appearance="circle"
                            ></ngx-skeleton-loader>
                        </span>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[28%] items-center whitespace-nowrap border-t py-4 px-4"
                         role="cell">
                        <span class="text-md font-medium tracking-tight">
                            <ngx-skeleton-loader
                                    [theme]="{
                                      height: '16px',
                                      width: '44px',
                                      border: '1px solid white',
                                      display: 'flex',
                                      'align-items': 'center',
                                        'margin-bottom': 0
                                    }"
                                    count="1"
                            ></ngx-skeleton-loader>
                        </span>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[18%] items-center border-t py-4 px-4"
                         role="cell">
                        <span class="text-md font-medium tracking-tight">
                            <ngx-skeleton-loader
                                    [theme]="{
                                      height: '16px',
                                      width: '44px',
                                      border: '1px solid white',
                                      display: 'flex',
                                      'align-items': 'center',
                                        'margin-bottom': 0
                                    }"
                                    count="1"
                            ></ngx-skeleton-loader>
                        </span>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[18%] items-center border-t py-4 px-4"
                         role="cell">
                        <ngx-skeleton-loader
                                [theme]="{
                                  height: '16px',
                                  width: '44px',
                                  border: '1px solid white',
                                  display: 'flex',
                                  'align-items': 'center',
                                  'margin-bottom': 0
                                }"
                                count="1"
                        ></ngx-skeleton-loader>
                    </div>
                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[18%] items-center border-t py-4 px-4"
                         role="cell">
                        <span class="flex items-center">
                            <ngx-skeleton-loader
                                    [theme]="{
                                        height: '16px',
                                        width: '44px',
                                        border: '1px solid white',
                                        display: 'flex',
                                        'align-items': 'center',
                                        'margin-bottom': 0
                                    }"
                                    count="1"
                            ></ngx-skeleton-loader>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end rankings -->