.item-image-cover-container {
  height: 60vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;

  @media (min-width: 1202px) {
    height: 65vh;
  }

  .cover-inner-details {
    text-align: center;
    align-items: center;
  }

  .cover-inner-more-button {
    position: absolute;
    width: max-content;
    bottom: 5%;
    right: 5%;
    z-index: 1;

    @media (max-width: 575px) {
      right: unset;
      bottom: -5%;
    }

    @media (max-height: 400px) {
      bottom: -20%;
    }

    @media (max-height: 370px) {
      bottom: -25%;
    }

    .button-round {
      height: 56px;
      width: 56px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }

    @media (min-width: 1202px) {
      transform: translateY(50%);
      bottom: 0;
    }
  }

  figure {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    z-index: -1;
    filter: brightness(.5);
  }
}

.input-avatar-container {
  height: fit-content;
  width: fit-content;
}

.file-input-selected {
  padding: 0;
  height: fit-content;
  width: fit-content;
}

.avatar-image {
  width: 8rem;
  height: 8rem;

  &.small {
    width: 4rem;
    height: 4rem;
  }

  @media (min-width: 1202px) {
    width: 10rem;
    height: 10rem;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 2px solid #fff;
  object-fit: cover;
  outline: none;
}

.follow-container {
  transition: all 300ms ease-in-out;
  padding: .5rem 1rem;
  border-radius: 8px;
}

.follow-btn {
  &.active {
    background-color: #fff;
    border: 1px solid #EC255A;
    color: #EC255A;
  }
}

#collectionActions {
  box-shadow: none;
}