<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Token Intro -->
<section class="dark:bg-jacarta-800 relative py-24">
    <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
        <img src="/assets/img/gradient_light.jpg" alt="gradient" class="h-full w-full" />
    </picture>
    <div class="container">
        <!-- Info -->
        <div class="pb-10 text-center w-full flex flex-col items-center justify-center">
            <h2 class="text-jacarta-700 font-display mb-6 text-5xl dark:text-white">
                Anti-bot Verification
            </h2>
        </div>

        <div *ngIf="!isWalletConnected()" class="flex flex-1 justify-center">
            <button (click)="connectWallet()"
                    class="font-display max-w-[10rem] dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 flex items-center justify-center rounded-full border-2 bg-white py-2 px-8 mr-4 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                <img src="/assets/img/wallets/metamask.svg" class="mr-2.5 inline-block h-6 w-6"
                     alt="connect with web3 wallet">
                <span>Connect</span>
            </button>
        </div>
    </div>
</section>
<!-- End Token Intro -->

<!-- About Token -->
<section id="airdropVerificationForm" class="relative bg-light-base py-24">
    <div *ngIf="form" [formGroup]="form" class="container">
        <!-- Discord name -->
        <div class="mb-6">
            <label for="discordName" class="font-display text-jacarta-700 mb-2 block dark:text-white">Discord Username<span class="text-red">*</span></label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                If you haven't yet, join our official <a class="text-accent" href="https://discord.gg/omnisea" target="_blank">Discord server</a>, and paste here your Username (required).
            </p>
            <input
                    required
                    formControlName="discordName"
                    id="discordName"
                    placeholder="Username#1234"
                    type="text"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Retweets -->
        <div class="mb-6">
            <label for="retweet1" class="font-display text-jacarta-700 mb-2 block dark:text-white">First Retweet<span class="text-red">*</span></label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                Paste the link to your retweet (we recommend Quote Tweet to get your link) of the Creators Program tweet: <a class="text-accent" href="https://twitter.com/omnisea/status/1535264489708322816" target="_blank">https://twitter.com/omnisea/status/1535264489708322816</a>
            </p>
            <input
                    required
                    formControlName="retweet1"
                    id="retweet1"
                    type="text"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <div class="mb-6">
            <label for="retweet3" class="font-display text-jacarta-700 mb-2 block dark:text-white">Second Retweet<span class="text-red">*</span></label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                Paste the link to your retweet (we recommend Quote Tweet to get your link) of the Public Sale tweet: <a class="text-accent" href="https://twitter.com/omnisea/status/1532872058329354240" target="_blank">https://twitter.com/omnisea/status/1532872058329354240</a>
            </p>
            <input
                    required
                    formControlName="retweet3"
                    id="retweet3"
                    type="text"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <div class="mb-6">
            <label for="code" class="font-display text-jacarta-700 mb-2 block dark:text-white">Verification Code<span class="text-red">*</span></label>
            <p *ngIf="!code" (click)="generateNewCode()" class="text-accent font-display text-2xs mb-3 cursor-pointer">
                Generate code
            </p>
            <p *ngIf="code" class="font-display text-2xs mb-3">
                Paste your code: <span class="text-accent">{{code}}</span>
            </p>
            <input
                    formControlName="code"
                    id="code"
                    type="text"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Terms -->
        <div class="mt-4 flex items-center space-x-2">
            <input
                    formControlName="terms"
                    required
                    type="checkbox"
                    id="terms"
                    class="checked:bg-accent dark:bg-jacarta-600 text-accent border-jacarta-200 focus:ring-accent/20 dark:border-jacarta-500 h-5 w-5 self-start rounded focus:ring-offset-0"
            />
            <label for="terms" class="dark:text-jacarta-200 text-sm">I confirm that I am of legal age and that this airdrop complies with the jurisdiction of my country.</label>
        </div>

        <!-- Policy -->
        <div class="mt-4 flex items-center space-x-2 policy">
            <input
                    formControlName="policy"
                    type="checkbox"
                    id="policy"
                    class="checked:bg-accent dark:bg-jacarta-600 text-accent border-jacarta-200 focus:ring-accent/20 dark:border-jacarta-500 h-5 w-5 self-start rounded focus:ring-offset-0"
            />
            <label for="policy" class="dark:text-jacarta-200 text-sm">I hereby confirm the Privacy Policy.</label>
        </div>

        <!-- Connect -->
        <button *ngIf="!isWalletConnected()"
                (click)="connectWallet()"
                type="button"
                class="bg-accent cursor-pointer rounded-full py-3 px-8 text-center font-semibold text-white transition-all">
            Connect
        </button>

        <!-- Submit -->
        <button *ngIf="isWalletConnected()"
                [disabled]="form.invalid"
                (click)="onSubmit()"
                [ngClass]="{'bg-jacarta-300': form.invalid, 'cursor-default': form.invalid}"
                type="button"
                class="bg-accent cursor-pointer rounded-full py-3 px-8 text-center font-semibold text-white transition-all">
            Submit
        </button>
    </div>
</section>
<!-- End About Token -->