.input-image-preview {
  background-repeat: no-repeat;
  background-position: center;
  max-height: 350px;
  width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;

  .step-icon {
    background-color: #C4C5CF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 100%;
    font-weight: 700;
    height: 36px;
    width: 36px;
  }

  .step-title {
    margin-top: 4px;
    color: #C4C5CF;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
  }

  &.active {
    .step-icon {
      cursor: pointer;
      background-color: #EC255A;
    }

    .step-title {
      cursor: pointer;
      color: darken(#EC255A, 40%);
    }
  }
}

.nft-trait {
  padding: 0 8px;
  border: none;
  border-right: 1px solid #e7e8ec;

  &:first-of-type {
    padding-left: 0;
  }
}

.file-input-selected {
  padding: 0;
  width: 100%;
}