<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Create -->
<section class="relative py-24 bg-gradient-accent-light-radial">
    <div class="container">
        <h1 class="font-display text-jacarta-700 py-16 text-center text-4xl font-medium dark:text-white">Launch Collection</h1>

        <div *ngIf="!isSupportedNetworkOrDisconnected()" class="flex flex-1 justify-center mb-12 font-medium mb-6 text-red">
            Connect with one of the supported networks: {{supportedNetworksAsText}}
        </div>

        <div *ngIf="!isWalletConnected()" class="flex flex-1 justify-center mb-12">
            <button (click)="connectWallet()"
                    class="font-display max-w-[10rem] dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 flex items-center justify-center rounded-full border-2 bg-white py-2 px-8 mr-4 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                <img src="/assets/img/wallets/metamask.svg" class="mr-2.5 inline-block h-6 w-6"
                     alt="connect with web3 wallet">
                <span>Connect</span>
            </button>
        </div>

        <div *ngIf="createForm" [formGroup]="createForm" class="mx-auto max-w-[48.125rem]">
            <!-- File Upload -->
            <div class="mb-6">
                <label for="filePicker" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                    Collection's Cover<span class="text-red">*</span>
                </label>
                <p class="dark:text-jacarta-300 text-2xs">Collection's image should be in a landscape orientation.</p>
                <p *ngIf="isFileInvalid" class="text-red text-2xs mt-1">File is invalid</p>
                <p *ngIf="isFileTooBig" class="text-red text-2xs mt-1">File is too big (Testnet: max. 10 MB)</p>
                <p *ngIf="isFileLoadingError" class="text-red text-2xs mt-1">Couldn't load the file to preview. You can
                    still upload it, but please make sure it's correct</p>

                <div class="input-image-preview-container dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100
                group relative flex w-full flex-col items-center justify-center rounded-lg border-2 border-dashed
                bg-white py-20 px-5 mt-3 text-center" [ngClass]="{'file-input-selected': !!file && !isFileInvalid && isFileSupported()}">
                    <div *ngIf="!file" class="relative z-10 cursor-pointer">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                            />
                        </svg>
                        <p class="dark:text-jacarta-300 mx-auto max-w-xs text-xs">
                            JPG, PNG, WEBP, GIF, SVG. Max size: 10 MB (Testnet).
                        </p>
                    </div>

                    <div *ngIf="file && !isFileSupported()" class="relative z-10 cursor-pointer">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                            />
                        </svg>
                        <p class="mx-auto max-w-xs text-xs text-red">
                            Image / Audio only: JPG, PNG, GIF, SVG, MP3, WAV.
                        </p>
                    </div>

                    <div *ngIf="!imagePreviewSrc"
                         class="dark:bg-jacarta-600 bg-jacarta-50 absolute inset-4 cursor-pointer rounded opacity-0 group-hover:opacity-100"
                    ></div>

                    <img *ngIf="imagePreviewSrc"
                         [src]="imagePreviewSrc" alt="image preview" class="input-image-preview">

                    <input
                            (change)="onFileChange($event)"
                            type="file"
                            required
                            accept="image/*"
                            id="filePicker"
                            class="absolute inset-0 z-20 cursor-pointer opacity-0 w-full"
                    />
                </div>
            </div>

            <!-- Name -->
            <div class="mb-6">
                <label for="itemName" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                    Name<span class="text-red">*</span>
                </label>
                <input
                        required
                        formControlName="name"
                        type="text"
                        id="itemName"
                        class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        placeholder="Item name"
                />
            </div>

            <!-- Content Type -->
            <div class="mb-6">
                <label for="contentType" class="font-display text-jacarta-700 mb-2 block dark:text-white">Content Type</label>
                <p class="dark:text-jacarta-300 text-2xs mb-2">
                    What is your content?
                </p>
                <input id="contentType" formControlName="contentType" type="hidden">
                <div class="dropdown relative mb-4 cursor-pointer">
                    <div
                            class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                            role="button"
                            id="contentTypeSelect"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                          <span class="font-display flex items-center">
                              <svg *ngIf="selectedContentType === 'ART'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">
                                  <path fill="none" d="M0 0h24v24H0z"></path>
                                  <path d="M12 2c5.522 0 10 3.978 10 8.889a5.558 5.558 0 0 1-5.556 5.555h-1.966c-.922 0-1.667.745-1.667 1.667 0 .422.167.811.422 1.1.267.3.434.689.434 1.122C13.667 21.256 12.9 22 12 22 6.478 22 2 17.522 2 12S6.478 2 12 2zm-1.189 16.111a3.664 3.664 0 0 1 3.667-3.667h1.966A3.558 3.558 0 0 0 20 10.89C20 7.139 16.468 4 12 4a8 8 0 0 0-.676 15.972 3.648 3.648 0 0 1-.513-1.86zM7.5 12a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm9 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM12 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                              </svg>
                              <svg *ngIf="selectedContentType === 'MUSIC'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">
                                  <path fill="none" d="M0 0h24v24H0z"></path>
                                  <path d="M12 13.535V3h8v3h-6v11a4 4 0 1 1-2-3.465z"></path>
                              </svg>

                              {{selectedContentType | lowercase | titlecase}}
                          </span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                        </svg>
                    </div>

                    <div
                            class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                            aria-labelledby="contentTypeSelect"
                    >
                        <button (click)="onContentTypeChange(contentType)"
                                *ngFor="let contentType of contentTypes"
                                class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                [ngClass]="{'bg-accent-lighter': contentType === selectedContentType}"
                        >
                            <span class="flex items-center">
                                <svg *ngIf="contentType === 'ART'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">
                                  <path fill="none" d="M0 0h24v24H0z"></path>
                                  <path d="M12 2c5.522 0 10 3.978 10 8.889a5.558 5.558 0 0 1-5.556 5.555h-1.966c-.922 0-1.667.745-1.667 1.667 0 .422.167.811.422 1.1.267.3.434.689.434 1.122C13.667 21.256 12.9 22 12 22 6.478 22 2 17.522 2 12S6.478 2 12 2zm-1.189 16.111a3.664 3.664 0 0 1 3.667-3.667h1.966A3.558 3.558 0 0 0 20 10.89C20 7.139 16.468 4 12 4a8 8 0 0 0-.676 15.972 3.648 3.648 0 0 1-.513-1.86zM7.5 12a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm9 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM12 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                </svg>
                                <svg *ngIf="contentType === 'MUSIC'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">
                                  <path fill="none" d="M0 0h24v24H0z"></path>
                                  <path d="M12 13.535V3h8v3h-6v11a4 4 0 1 1-2-3.465z"></path>
                                </svg>
                                {{contentType | lowercase | titlecase}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Category -->
            <div class="mb-6">
                <label for="category" class="font-display text-jacarta-700 mb-2 block dark:text-white">Category</label>
                <p class="dark:text-jacarta-300 text-2xs mb-2">
                    The category of your {{selectedContentType | lowercase}} collection
                </p>
                <input id="category" formControlName="category" type="hidden">
                <div class="dropdown relative mb-4 cursor-pointer">
                    <div
                            class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                            role="button"
                            id="categorySelect"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                          <span class="font-display flex items-center">
                              {{getCategoryName(selectedCategory)}}
                          </span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                        </svg>
                    </div>

                    <div
                            class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                            aria-labelledby="categorySelect"
                    >
                        <button (click)="onCategoryChange(category)"
                                *ngFor="let category of availableCategories"
                                class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                [ngClass]="{'bg-accent-lighter': category === selectedCategory}"
                        >
                            <span class="flex items-center">
                                {{getCategoryName(category)}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- External Link -->
            <div class="mb-6">
                <label for="itemExternalLink" class="font-display text-jacarta-700 mb-2 block dark:text-white">External link</label>
                <p class="dark:text-jacarta-300 text-2xs mb-3">
                    We will include a link to this URL on this item's detail page, so that users can click to learn more
                    about it. You are welcome to link to your own webpage with more details.
                </p>
                <input
                        formControlName="externalLink"
                        type="url"
                        id="itemExternalLink"
                        class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        placeholder="https://yoursite.io/item/123"
                />
            </div>

            <!-- Description -->
            <div class="mb-6">
                <label for="item-description" class="font-display text-jacarta-700 mb-2 block dark:text-white">Description</label>
                <p class="dark:text-jacarta-300 text-2xs mb-3">
                    The description will be included on the item's detail page underneath its image. Markdown syntax is
                    supported.
                </p>
                <textarea
                        formControlName="description"
                        id="item-description"
                        class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        rows="4"
                        placeholder="Provide a detailed description of your item."
                ></textarea>
            </div>

            <!-- NFTs -->
            <div class="mb-6">
                <div class="flex w-full">
                    <span>
                        <label class="font-display text-jacarta-700 mb-2 block dark:text-white flex items-center">NFTs {{selectedContentType !== 'MUSIC' ? '(Optional)' : ''}}
                            <span
                                    class="inline-block ml-2"
                                    ngxTippy
                                    data-tippy-content="The amount of added NFTs will automatically set the Collection's maximum supply. As long as nothing is minted from the Collection, the creator can add more NFTs later, increasing the supply.">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24"
                                   width="24"
                                   height="24"
                                   class="dark:fill-jacarta-300 fill-jacarta-500 h-4 w-4">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"></path>
                             </svg>
                            </span>
                        </label>

                        <div class="mb-3 flex flex-col justify-center space-x-2">
                            <p *ngIf="selectedContentType === 'MUSIC'" class="font-bold dark:text-jacarta-300 text-2xs mb-2">
                                Each NFT is a song that is part of your music album.
                            </p>

                            <p class="dark:text-jacarta-300 text-2xs">
                                If you don't specify the Collection's NFTs, the supply will be unlimited. Here you can add NFTs with their files.
                                <span class="text-accent">(Testnet: max. 100)</span>
                            </p>
                        </div>
                    </span>
                </div>

                <div *ngFor="let nft of nfts; let i = index;" class="dark:border-jacarta-600 border-jacarta-100 relative border-b py-6">
                    <div class="flex items-center justify-between">
                        <div class="flex">
                            <div>
                                <label class="font-display text-jacarta-700 block dark:text-white">#{{i + 1}}</label>
                                <p class="dark:text-jacarta-300 flex text-sm mt-2">
                                    <span *ngIf="nft.file" class="nft-trait">File: {{(nft.file.size / 1024 / 1024) | number : '1.2-2' }} MB</span>
                                    <span *ngIf="nft.attributes" class="nft-trait">{{(getAttributesCount(nft)) }} properties</span>
                                    <span (click)="onRemoveNFT(i)" *ngIf="nft.attributes" class="nft-trait text-accent cursor-pointer">Remove</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="group dark:bg-jacarta-700 hover:bg-accent border-accent text-accent hover:text-white flex h-12 w-36 shrink-0 items-center justify-center rounded-lg border bg-white hover:border-transparent" type="button"
                        id="nftAddButton"
                        data-bs-toggle="modal"
                        data-bs-target="#nftAddModal">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-accent group-hover:fill-white">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                    </svg>

                    Add NFT
                </button>
            </div>

            <!-- Mint Price -->
            <div class="mb-6">
                <label for="itemMintPrice"
                       class="font-display text-jacarta-700 mb-2 block dark:text-white">Mint Price</label>

                <div class="mb-3 flex items-center space-x-2">
                    <p class="dark:text-jacarta-300 text-2xs">
                        The price for mint in selected currency. Users will be able to mint tokens for this fixed price. Empty (or 0) means Free Mint.
                    </p>
                    <span
                            class="inline-block"
                            ngxTippy
                            data-tippy-content="The amount (-2% fee) you'll receive for each minted token"
                    >
                  <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          width="24"
                          height="24"
                          class="dark:fill-jacarta-300 fill-jacarta-500 h-4 w-4"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                            d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"
                    ></path>
                  </svg>
                </span>
                </div>

                <input
                        formControlName="mintPrice"
                        type="number"
                        step="1"
                        min="0"
                        id="itemMintPrice"
                        class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        [placeholder]="createForm.get('assetName').value"
                />
            </div>

            <!-- Asset -->
            <div class="mb-6">
                <label for="assetName" class="font-display text-jacarta-700 mb-2 block dark:text-white">Currency</label>
                <p class="dark:text-jacarta-300 text-2xs mb-2">
                    Choose currency (token) which will be used to pay for minting from your Collection.
                </p>
                <input id="assetName" formControlName="chainSymbol" type="hidden">
                <div class="dropdown relative mb-4 cursor-pointer">
                    <div
                            class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                            role="button"
                            id="filterAssetName"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                          <span class="font-display flex items-center">
                            <img [src]="'/assets/img/currencies/'+selectedAssetName+'.svg'"
                                 class="mr-2 h-5 w-5 rounded-full"/>
                              {{selectedAssetName}}
                          </span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                        </svg>
                    </div>

                    <div
                            class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                            aria-labelledby="filterPriceBlockchain"
                    >
                        <button (click)="onAssetChange(asset)"
                                *ngFor="let asset of supportedAssets"
                                class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                [ngClass]="{'bg-accent-lighter': asset === selectedAssetName}"
                        >
                            <span class="flex items-center">
                              <img [src]="'/assets/img/currencies/'+asset+'.svg'"
                                   class="mr-2 h-5 w-5 rounded-full"/>
                                {{asset}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Drop Date From -->
            <div class="mb-6">
                <label for="itemDateFrom"
                       class="font-display text-jacarta-700 mb-2 block dark:text-white">Drop's Date (Optional)</label>

                <div class="mb-3 flex items-center space-x-2">
                    <div class="flex flex-col w-full gap-3">
                        <p class="dark:text-jacarta-300 text-2xs">
                            Default is unlimited.
                        </p>
                        <div>
                            <p class="dark:text-jacarta-300 text-2xs">
                                If set, minting will be enabled for selected period of time (max. 7 days).
                            </p>

                            <span
                                    class="inline-block"
                                    ngxTippy
                                    data-tippy-content="Drop can be planned in maximum 90 days advance.">
                              <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 24 24"
                                      width="24"
                                      height="24"
                                      class="dark:fill-jacarta-300 fill-jacarta-500 h-4 w-4"
                              >
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                        d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"
                                ></path>
                              </svg>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="input-wrapper">
                    <input formControlName="dateFrom"
                           [owlDateTimeTrigger]="dtPicker2"
                           [owlDateTime]="dtPicker2"
                           [min]="today"
                           [max]="maxDateTo"
                           selectMode="single"
                           class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                           id="itemDateFrom">
                    <owl-date-time
                            pickerType="calendar"
                            (dateSelected)="onDateFromChange()"
                            #dtPicker2>
                    </owl-date-time>
                </div>
            </div>

            <!-- Drop's End Date -->
            <div *ngIf="createForm.get('dateFrom').value" class="mb-6">
                <label for="itemDurationInDays"
                       class="font-display text-jacarta-700 mb-2 block dark:text-white">Drop's Duration (in days)<span
                        class="text-red">*</span></label>

                <div class="mb-3 flex items-center space-x-2">
                    <p class="dark:text-jacarta-300 text-2xs">
                        Sets the end time of your collection's drop. At least 1, and maximum 7 days from the start date.
                    </p>
                </div>

                <input formControlName="durationInDays"
                       type="number"
                       step="1"
                       min="1"
                       max="7"
                       id="itemDurationInDays"
                       class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                       placeholder="1 day"
                />
            </div>

            <a (click)="toggleAdvancedOptions()" class="block mb-6 bg-transparent text-accent hover:text-accent-light p-0 cursor-pointer transition-all">
                {{isAdvancedOptionsVisible ? 'Hide' : 'Show'}} advanced options
            </a>

            <!-- Blockchain -->
            <div *ngIf="isAdvancedOptionsVisible" class="mb-6">
                <label for="chainSymbol" class="font-display text-jacarta-700 mb-2 block dark:text-white">Blockchain</label>
                <p class="dark:text-jacarta-300 text-2xs mb-2">
                    Collection and minted NFTs will be created on the selected chain, but of course all actions on them
                    will be possible from any chain.
                </p>
                <input id="chainSymbol" formControlName="chainSymbol" type="hidden">
                <div class="dropdown relative mb-4 cursor-pointer">
                    <div
                            class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                            role="button"
                            id="filterPriceBlockchain"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                          <span class="font-display flex items-center">
                            <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[selectedChainName]+'.png'"
                                 class="mr-2 h-5 w-5 rounded-full"/>
                              {{selectedChainName}}
                          </span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                        </svg>
                    </div>

                    <div
                            class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                            aria-labelledby="filterPriceBlockchain"
                    >
                        <button (click)="onTargetChainChange(mapChainNameToEnum(chainItem.key))"
                                *ngFor="let chainItem of chainNameToSymbolMap | keyvalue"
                                class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                [ngClass]="{'bg-accent-lighter': chainItem.key === selectedChainName}"
                        >
                            <span class="flex items-center">
                              <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[chainItem.key]+'.png'"
                                   [alt]="chainItem.key" class="mr-2 h-5 w-5 rounded-full"/>
                                {{chainItem.key}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="isAdvancedOptionsVisible" class="mb-6 flex flex-col">
                <label for="isPublic" class="font-display text-jacarta-700 mb-2 block dark:text-white">Visibility</label>

                <div class="flex items-center mb-4 w-full">
                    <input formControlName="isPublic" type="checkbox" id="isPublic" name="isPublic" class="checked:bg-accent dark:bg-jacarta-600 text-accent border-jacarta-200 focus:ring-accent/20 dark:border-jacarta-500 h-5 w-5 self-start rounded focus:ring-offset-0 mr-4">
                    <label for="isPublic" class="dark:text-jacarta-200 text-sm">Public (visible) immediately after creation</label>
                </div>
                <p class="dark:text-jacarta-300 text-2xs mb-2 w-full">
                    If set public (default), the collection will be visible for other users for example on the Explore page.
                    You can switch the collection public/private later as well. Setting as private means that the collection is created but hidden for others.
                </p>
            </div>

            <!-- Submit -->
            <button
                    [disabled]="isCreateButtonDisabled()"
                    (click)="onSubmit()"
                    [ngClass]="{'bg-jacarta-300': isCreateButtonDisabled(), 'cursor-default': isCreateButtonDisabled()}"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmCreateStepper"
                    type="button"
                    class="bg-accent cursor-pointer rounded-full py-3 px-8 text-center font-semibold text-white transition-all">
                {{isConnectedToWallet ? 'Create' : 'Connect'}}
            </button>

            <p *ngIf="isConnectedToWallet && createForm.invalid && createForm.get('name').value < 3" class="text-red text-sm mt-4">
                Name: (min. 3 characters) is required.
            </p>
            <p *ngIf="isConnectedToWallet && createForm.invalid && !file" class="text-red text-sm mt-4">
                Collection cover file is required.
            </p>
            <p *ngIf="isConnectedToWallet && createForm.invalid && createForm.get('description').value > 2000" class="text-red text-sm mt-4">
                Description: maximum 2000 characters.
            </p>
            <p *ngIf="isConnectedToWallet && selectedContentType === 'MUSIC' && nfts?.length === 0" class="text-red text-sm mt-4">
                NFTs: Music album requires at least 1 NFT (song).
            </p>
            <p *ngIf="!isSupportedNetworkOrDisconnected()" class="text-red mt-4 text-sm">
                Switch to one of the currently supported network: {{ supportedNetworksAsText }}.
            </p>

            <m-web3-modal
                    title="Connect your wallet"
                    [description]="'Connect to one of the supported networks: Ethereum, Polygon, Avalanche, BNB Chain, Fantom, Optimism, or Arbitrum. In case of a connection problem, refresh the app.'"
            ></m-web3-modal>

            <div class="modal fade" id="confirmCreateStepper" tabindex="-1" aria-labelledby="confirmCreateStepperLabel"
                 aria-hidden="true">
                <div class="modal-dialog max-w-2xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmCreateStepperLabel">Creating Collection</h5>
                            <button #createStepperCloseBtn (click)="stopCreatingCollection()" type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-700 h-6 w-6 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path
                                            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                                    />
                                </svg>
                            </button>
                        </div>

                        <!-- Body -->
                        <div *ngIf="stepper && stepper[activeStep]" class="modal-body relative pt-28 pb-10">
                            <ngx-ui-loader loaderId="confirmStepperLoader"
                                           bgsPosition="top-center"
                            ></ngx-ui-loader>

                            <p [ngClass]="{'text-red': stepper[activeStep].status === 'ERROR'}"
                               class="text-xl text-jacarta-700 text-center">{{stepper[activeStep].title}}</p>
                            <p class="text-jacarta-400 mt-3 text-center">{{stepper[activeStep].subtitle || "Please, wait and don't close this window."}}</p>
                        </div>
                        <!-- end body -->

                        <div class="modal-footer">
                            <div class="steps space-x-4">
                                <span *ngFor="let step of stepper; let stepIndex = index" class="step"
                                      [ngClass]="{'active': activeStep === stepIndex}">
                                    <span class="step-icon">{{stepIndex + 1}}</span>
                                    <span *ngIf="stepper[stepIndex].iconText"
                                          class="step-title">{{stepper[stepIndex].iconText}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="nftAddModal" tabindex="-1" aria-labelledby="nftAddModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog max-w-2xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="nftAddModalLabel">Add NFT</h5>

                            <button #nftModalCloseBtn type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-700 h-6 w-6 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path
                                            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                                    />
                                </svg>
                            </button>
                        </div>

                        <!-- Body -->
                        <div [formGroup]="nftForm" class="modal-body relative p-6">
                            <!-- File Upload -->
                            <div class="mb-6">
                                <label for="filePicker" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                                    {{selectedContentType === 'MUSIC' ? 'Song (Audio)' : 'NFT\'s Image'}}<span class="text-red">*</span>
                                </label>
                                <p class="dark:text-jacarta-300 text-2xs">Drag or choose your file to upload</p>
                                <p *ngIf="isNFTFileTooBig" class="text-red text-2xs mt-1">File is too big (Testnet: max. 10 MB)</p>

                                <div class="input-image-preview-container dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100
                group relative flex max-w-md flex-col items-center justify-center rounded-lg border-2 border-dashed
                bg-white py-20 px-5 mt-3 text-center">
                                    <div *ngIf="!nftFile" class="relative z-10 cursor-pointer">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24"
                                                width="24"
                                                height="24"
                                                class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                                        >
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path
                                                    d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                                            />
                                        </svg>
                                        <p class="dark:text-jacarta-300 mx-auto max-w-xs text-xs">
                                            {{selectedContentType === 'MUSIC' ? 'MP3, WAV, etc.' : 'JPG, PNG, GIF, SVG'}}. Max size: 10 MB (Testnet).
                                        </p>
                                    </div>

                                    <div *ngIf="nftFile && !isNFTFileSupported()" class="relative z-10 cursor-pointer">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24"
                                                width="24"
                                                height="24"
                                                class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                                        >
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path
                                                    d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                                            />
                                        </svg>
                                        <p *ngIf="selectedContentType === 'MUSIC'" class="mx-auto max-w-xs text-xs text-red">
                                            Audio only: MP3, WAV, etc.
                                        </p>
                                        <p *ngIf="selectedContentType === 'ART'" class="mx-auto max-w-xs text-xs text-red">
                                            Image only: JPG, PNG, GIF, SVG.
                                        </p>
                                    </div>

                                    <img *ngIf="nftImagePreviewSrc" [src]="nftImagePreviewSrc" class="input-image-preview">

                                    <p *ngIf="nftFile && selectedContentType === 'MUSIC'" class="dark:text-jacarta-300 mx-auto max-w-xs text-xs">
                                        {{nftFile.name}}
                                    </p>

                                    <input
                                            (change)="onNFTFileChange($event)"
                                            type="file"
                                            required
                                            accept="image/*,audio/*"
                                            id="nftFilePicker"
                                            class="absolute inset-0 z-20 cursor-pointer opacity-0 w-full"
                                    />
                                </div>
                            </div>
                        </div>
                        <!-- end body -->

                        <div class="modal-footer">
                            <div class="flex flex-1 w-full text-center justify-center">
                                <button (click)="closeNFTModal()"
                                        class="w-48 font-display dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 mb-4 flex w-full items-center justify-center rounded-full border-2 bg-white py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                                    <span>Cancel</span>
                                </button>

                                <button [disabled]="!nftFile"
                                        (click)="onConfirmNFT()"
                                        [ngClass]="{'bg-jacarta-100': !nftFile, 'border-jacarta-100': !nftFile, 'no-pointer-events': !nftFile, 'border-accent': nftFile, 'bg-accent': nftFile}"
                                        class="w-48 ml-8 font-display hover:bg-white border-accent text-white mb-4 flex w-full items-center justify-center rounded-full border-2 py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-accent">
                                    <span>Confirm</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end create -->