<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Token Intro -->
<section class="dark:bg-jacarta-800 relative py-24">
    <div class="container">
        <div *ngIf="!isBridging" class="flex flex-col justify-center items-center feature-card w-full">
            <!-- Info -->
            <div class="w-full z-20">
                <h2 *ngIf="!tokenImage" [ngClass]="{'text-accent-dark' : tokenURIError}"
                        class="font-display mb-6 text-5xl text-white text-center">
                    {{tokenURIError ? 'Could not get selected token' : 'Move NFT between chains'}}
                </h2>

                <h2 *ngIf="tokenImage" [ngClass]="{'text-accent-dark' : tokenURIError}"
                    class="font-display mb-6 text-5xl text-white text-center flex justify-center items-center">
                    <span>Move </span>
                    <span *ngIf="tokenImage" [style.background-image]="'url(\''+tokenImage+'\')'"
                          (load)="isTokenImageLoaded = true"
                          [ngClass]="{'loaded': isTokenImageLoaded}"
                          loading="eager"
                          class="avatar-image mr-4 ml-4">
                    </span>
                    <span>between chains</span>
                </h2>
            </div>

            <div *ngIf="isConnectedToWallet && selectedChainName" [formGroup]="form"
                 class="w-full flex flex-col justify-center items-center z-20 mt-16">
                <div class="flex w-full justify-evenly" ngClass.lt-md="flex-col">
                    <div>
                        <label for="itemCollection"
                               [ngClass]="{'text-accent-dark' : tokenURIError}"
                               class="font-display text-white text-sm mb-2 block">Collection address</label>

                        <input
                                formControlName="collectionAddress"
                                required
                                type="text"
                                id="itemCollection"
                                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                placeholder="ERC-721 collection address"
                        />
                    </div>

                    <div>
                        <label for="itemTokenId"
                               [ngClass]="{'text-accent-dark' : tokenURIError}"
                               class="font-display text-white text-sm mb-2 block">Token ID</label>

                        <input
                                formControlName="tokenId"
                                required
                                type="number"
                                id="itemTokenId"
                                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                placeholder="Token ID"
                        />
                    </div>

                    <div>
                        <label for="chainSelector"
                               class="font-display text-white text-sm mb-2 block">Destination chain</label>

                        <div class="dropdown relative mb-8 cursor-pointer">
                            <div
                                    class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                                    role="button"
                                    id="chainSelector"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                          <span class="font-display flex items-center">
                            <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[selectedChainName]+'.png'"
                                 class="mr-2 h-5 w-5 rounded-full"/>
                              {{selectedChainName}}
                          </span>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                                </svg>
                            </div>

                            <div
                                    class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                                    aria-labelledby="chainSelector"
                            >
                                <div *ngFor="let chainItem of chainNameToSymbolMap | keyvalue">
                                    <button *ngIf="chainItem.value"
                                            (click)="onTargetChainChange(mapChainNameToEnum(chainItem.key))"
                                            class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                            [ngClass]="{'bg-accent-lighter': chainItem.key === selectedChainName}">
                                        <span class="flex items-center">
                                          <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[chainItem.key]+'.png'"
                                               [alt]="chainItem.key" class="mr-2 h-5 w-5 rounded-full"/>
                                            {{chainItem.key}}
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button [disabled]="isDisabled"
                        (click)="onSubmit()" class="font-display max-w-[10rem] dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 flex items-center justify-center rounded-full border-2 bg-white py-2 px-8 mr-4 mt-16 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                    <span>Bridge</span>
                </button>
            </div>

            <div *ngIf="!isConnectedToWallet" class="w-full flex justify-center z-20 mt-16">
                <button (click)="connectWallet()" class="font-display max-w-[10rem] dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 flex items-center justify-center rounded-full border-2 bg-white py-2 px-8 mr-4 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                    <img src="/assets/img/wallets/metamask.svg" class="mr-2.5 inline-block h-6 w-6">
                    <span>Connect</span>
                </button>
            </div>
        </div>

        <div *ngIf="isBridging" class="flex flex-col justify-center items-center feature-card active w-full z-20">
            <div *ngIf="state.status === 'completed'" class="w-full flex justify-center items-center" ngClass.lt-lg="flex-col">
                <h1 class="text-5xl font-semibold z-20 text-white mr-4 text-center">
                    {{tokenImage ? 'Successfully sent ' : 'Successfully sent NFT to'}}
                </h1>
                <span *ngIf="tokenImage" [style.background-image]="'url(\''+tokenImage+'\')'"
                      (load)="isTokenImageLoaded = true"
                      [ngClass]="{'loaded': isTokenImageLoaded}"
                      loading="eager"
                      class="avatar-image mr-4 ml-4">
                </span>
                <span class="font-display flex items-center text-5xl text-white z-20 text-center">
                    <span *ngIf="tokenImage" class="mr-4">to</span>
                    <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[selectedChainName]+'.png'" class="mr-2 h-12 w-12 rounded-full"/>
                    <span>{{selectedChainName}}</span>
                </span>
            </div>

            <div *ngIf="state.status !== 'completed'" class="w-full flex justify-center items-center" ngClass.lt-lg="flex-col">
                <h1 class="text-5xl font-semibold z-20 text-white mr-4 text-center">
                    {{tokenImage ? 'Bridging' : 'Bridging NFT to '}}
                </h1>
                <span *ngIf="tokenImage" [style.background-image]="'url(\''+tokenImage+'\')'"
                      (load)="isTokenImageLoaded = true"
                      [ngClass]="{'loaded': isTokenImageLoaded}"
                      loading="eager"
                      class="avatar-image mr-4 ml-4">
                </span>
                <span class="font-display flex items-center text-5xl text-white z-20 text-center">
                    <span *ngIf="tokenImage" class="mr-4">to</span>
                    <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[selectedChainName]+'.png'" class="mr-2 h-12 w-12 rounded-full"/>
                    <span>{{selectedChainName}}</span>
                </span>
            </div>

            <p class="text-lg text-white text-center mt-8 z-20">
                {{state.status === 'completed' ? ('Transferred NFT is now on the ' + selectedChainName + ' ✅') : 'Wait a few minutes for a transfer to complete.'}}
            </p>
        </div>
    </div>
</section>
<!-- End Token Intro -->
