<!-- Banner -->
<div class="relative">
    <img src="/assets/img/gradient-noise-minified.jpg" class="w-full h-[7rem] object-cover"/>
</div>
<!-- end banner -->

<!-- Help Center -->
<section class="relative py-24">
    <div class="container">
        <div class="w-full flex justify-center mb-16">
            <img src="/assets/img/help-center/help-center-intro.png" alt="How can we help you?" class="h-24 object-contain">
        </div>

        <!-- Categories -->
        <div class="mb-16 grid grid-cols-1 gap-7 sm:grid-cols-2 md:grid-cols-3">
            <a (click)="goToCategory('basics')" class="card-item dark:border-jacarta-600 dark:bg-jacarta-700 rounded-2lg border-jacarta-100 border bg-white p-6 text-center transition-shadow hover:shadow-lg">
                <span class="flex flex-col justify-center items-center mb-2">
                    <img class="feature-icon" src="/assets/icons/settings.png">
                    <span class="font-display text-xl text-jacarta-700 mt-4">Getting started</span>
                </span>
                <p class="dark:text-jacarta-300">
                    Learn how to start, setup a wallet, create a profile, and more basics.
                </p>
            </a>

            <a (click)="goToCategory('creating')" class="card-item dark:border-jacarta-600 dark:bg-jacarta-700 rounded-2lg border-jacarta-100 border bg-white p-6 text-center transition-shadow hover:shadow-lg">
                <span class="flex flex-col justify-center items-center mb-2">
                    <img class="feature-icon" src="/assets/icons/square.png">
                    <span class="font-display text-xl text-jacarta-700 mt-4">Creating</span>
                </span>
                <p class="dark:text-jacarta-300">
                    Find out everything about launching your Omnichain NFT Collection.
                </p>
            </a>

            <a (click)="goToCategory('minting')" class="card-item dark:border-jacarta-600 dark:bg-jacarta-700 rounded-2lg border-jacarta-100 border bg-white p-6 text-center transition-shadow hover:shadow-lg">
                <span class="flex flex-col justify-center items-center mb-2">
                    <img class="feature-icon" src="/assets/icons/chains.png">
                    <span class="font-display text-xl text-jacarta-700 mt-4">Minting</span>
                </span>
                <p class="dark:text-jacarta-300">
                    All the information regarding the NFT minting process.
                </p>
            </a>

            <a (click)="goToCategory('payments')" class="card-item dark:border-jacarta-600 dark:bg-jacarta-700 rounded-2lg border-jacarta-100 border bg-white p-6 text-center transition-shadow hover:shadow-lg">
                <span class="flex flex-col justify-center items-center mb-2">
                    <img class="feature-icon" src="/assets/icons/verified.png">
                    <span class="font-display text-xl text-jacarta-700 mt-4">Payments</span>
                </span>
                <p class="dark:text-jacarta-300">
                    Supported payment methods, assets, refunds, earnings, royalties.
                </p>
            </a>

            <a (click)="goToCategory('resources')" class="card-item dark:border-jacarta-600 dark:bg-jacarta-700 rounded-2lg border-jacarta-100 border bg-white p-6 text-center transition-shadow hover:shadow-lg">
                <span class="flex flex-col justify-center items-center mb-2">
                    <img class="feature-icon" src="/assets/icons/connect.png">
                    <span class="font-display text-xl text-jacarta-700 mt-4">Resources</span>
                </span>
                <p class="dark:text-jacarta-300">
                    Learn more about the Omnichain approach, Omnisea Protocol, Omnichain Router, Whitepaper.
                </p>
            </a>

            <a (click)="goToCategory('developers')" class="card-item dark:border-jacarta-600 dark:bg-jacarta-700 rounded-2lg border-jacarta-100 border bg-white p-6 text-center transition-shadow hover:shadow-lg">
                <span class="flex flex-col justify-center items-center mb-2">
                    <img class="feature-icon" src="/assets/icons/storage.png">
                    <span class="font-display text-xl text-jacarta-700 mt-4">Developers</span>
                </span>
                <p class="dark:text-jacarta-300">
                    All you need to start integrating truly Omnichain NFTs. Documentation, SDK, contracts, code.
                </p>
            </a>
        </div>
        <!-- end categories -->

        <!-- Support button -->
        <div class="w-full flex justify-center">
            <button (click)="goToSupport()" class="hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                Support
            </button>
        </div>
    </div>
</section>
<!-- end help center -->