$color-accent-rgb: rgba(236, 37, 90, 0.1);
$color-white: #fff;
$box-shadow-material: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

.box-shadow-material {
  box-shadow: $box-shadow-material;
}

.picture-container-full {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.m-w-40 {
  max-width: 40%;
}

.features-bar {
  color: #000;
  background-color: #fbfcfe;

  @media (min-width: 1025px) {
    .feature-box:not(:last-child) {
      border-image: linear-gradient(to bottom, #EC255A, #f2668c) 0 1 0 0;
      border-width: 4px;
      padding-right: 4px;
    }
  }
}

.feature-icon {
  width: 40px !important;
  max-width: 40px !important;
  height: auto;
  outline: none;
}