<!-- Hero -->
<section class="relative pb-10 pt-20 md:pt-32 lg:h-[100vh] box-shadow-material">
    <picture class="picture-container-full pointer-events-none absolute inset-x-0 top-0 -z-10 dark:hidden">
        <img src="/assets/img/gradient-noise-minified.jpg" />
    </picture>

    <div class="container h-full">
        <div ngClass.lt-sm="flex-col"
             class="flex h-full items-center justify-between md:grid-cols-12">
            <div ngClass.gt-sm="m-w-40"
                 class="flex h-full flex-col items-center justify-center py-10 md:items-start md:py-20 xl:col-span-4">
                <div class="dynamic-status-badge mb-6">
                    <span class="text-accent">Testnet </span>
                    <span class="text-accent"> Live</span>
                </div>

                <h1 class="text-white font-display mb-6 text-center text-5xl dark:text-white md:text-left lg:text-6xl xl:text-7xl">
                    Home of Omnichain NFTs.
                </h1>
                <p class="font-display text-gray-light mb-8 text-center text-lg md:text-left">
                    Launch Omnichain collections. Mint between chains.
                </p>
                <div class="flex space-x-4">
                    <button (click)="goToCreate()" class="font-display bg-accent hover:bg-white border-accent text-white mb-4 flex w-full items-center justify-center rounded-full border-2 py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-accent">
                        <span>Launch</span>
                    </button>

                    <button (click)="goToCollectionsList()" class="font-display dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 mb-4 flex w-full items-center justify-center rounded-full border-2 bg-white py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                        <span>Explore</span>
                    </button>
                </div>
            </div>

<!--            <div class="flex h-full flex-col items-center justify-center py-10 md:items-start md:py-20 xl:col-span-4">-->
<!--                <app-featured-collections></app-featured-collections>-->
<!--            </div>-->
        </div>
    </div>
</section>
<!-- end hero -->

<section ngClass.gt-xs="ph-30" class="flex flex-col w-full pl-10 pr-10 pb-24 pt-20 md:pt-32">
    <div [ngClass.xs]="['flex-col', 'justify-start', 'items-start']" [ngClass.gt-xs]="['justify-evenly', 'items-center']" class="flex pt-28 pb-24">
        <div ngClass.gt-xs="w-half" class="flex flex-col">
            <span class="flex flex-col">
                <img class="feature-icon" src="/assets/icons/chains.png">
                <span class="font-display text-xl text-jacarta-700 mt-4">Omnichain NFTs</span>
            </span>
            <span class="text-xl font-light mt-4">
                Mint and interact with NFTs that live on a different chain than you are. No more bridging or wrapping.
            </span>
        </div>

        <div ngClass.xs="mt-8" ngClass.gt-xs="w-half" class="flex justify-center items-center">
            <img ngClass.xs="h-[15rem]" ngClass.gt-xs="h-[18.75rem]" class="feature-img box-shadow-material" src="/assets/img/features/nfts.png">
        </div>
    </div>

    <div [ngClass.xs]="['flex-col', 'justify-start', 'items-start']" [ngClass.gt-xs]="['justify-evenly', 'items-center']" class="flex pt-28 pb-24">
        <div ngClass.gt-xs="w-half" class="flex flex-col">
            <span class="flex flex-col">
                <img class="feature-icon" src="/assets/icons/settings.png">
                <span class="font-display text-xl text-jacarta-700 mt-4">Omnichain NFT Launchpad</span>
            </span>
            <span class="text-xl font-light mt-4">
                Launch your own Omnichain Collection via intuitive UI. Set details, price per mint, and reach a wide audience from many chains!
            </span>
        </div>

        <div ngClass.xs="mt-8" ngClass.gt-xs="w-half" class="flex justify-center items-center">
<!--            <img ngClass.xs="h-[15rem]" ngClass.gt-xs="h-[18.75rem]" class="feature-img box-shadow-material" src="/assets/img/features/nfts.png">-->
        </div>
    </div>

    <div [ngClass.xs]="['flex-col', 'justify-start', 'items-start']" [ngClass.gt-xs]="['justify-evenly', 'items-center']" class="flex pt-28 pb-24">
        <div ngClass.gt-xs="w-half" class="flex flex-col">
            <span class="flex flex-col">
                <img class="feature-icon" src="/assets/icons/storage.png">
                <span class="font-display text-xl text-jacarta-700 mt-4">Always on IPFS</span>
            </span>
            <span class="text-xl font-light mt-4">
                Every NFT's file and metadata are stored on IPFS. Permanent, uncensorable collections. Cost-free for users.
            </span>
        </div>

        <div ngClass.xs="mt-8" ngClass.gt-xs="w-half" class="flex justify-center items-center">
            <img ngClass.xs="h-[15rem]" ngClass.gt-xs="h-[18.75rem]" class="feature-img box-shadow-material" src="/assets/img/features/ipfs.png">
        </div>
    </div>

    <div [ngClass.xs]="['flex-col', 'justify-start', 'items-start']" [ngClass.gt-xs]="['justify-evenly', 'items-center']" class="flex pt-28 pb-24">
        <div ngClass.gt-xs="w-half" class="flex flex-col">
            <span class="flex flex-col">
                <img class="feature-icon" src="/assets/icons/square.png">
                <span class="font-display text-xl text-jacarta-700 mt-4">Marketplace is Coming</span>
            </span>
            <span class="text-xl font-light mt-4">
                Buying, selling, and bidding Omnichain NFTs will be the ultimate way to unite spread NFTs ecosystems.
            </span>
        </div>

        <div ngClass.xs="mt-8" ngClass.gt-xs="w-half" class="flex justify-center items-center">
<!--            <img ngClass.xs="h-[15rem]" ngClass.gt-xs="h-[18.75rem]" class="feature-img box-shadow-material" src="/assets/img/features/nfts.png">-->
        </div>
    </div>
</section>